  <div class="message">
      <p class="work-break"><strong>Você receberá um email para confirmar o cadastro</strong></p>
  </div>

  <div class="modal-footer justify-content-center">
      <button  type="button" class="btn btn-light">
          Voltar ao login
      </button>
      <button type="button" class="btn btn-primary">
          Ok
      </button>
  </div>


