<div class="d-flex w-100">
    <!-- <app-menu></app-menu> -->
    <div class="w-100 d-flex flex-column">
        <!-- <app-header></app-header> -->
        <router-outlet></router-outlet>
    </div>
</div>
