<ng-container *ngIf="showContainer == false; else notTable">
  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="bens && bens.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <span class="fw-bold">Bens</span>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of bens; let i = index">
            <p class="fw-bold">Bem {{i + 1}}</p>
            <table>
              <th>Tipo</th>
              <th>Valor</th>
              <tr>
                <td>{{c.tipo}}</td>
                <td>{{c.valor | currency: 'BRL': true}}</td>
              </tr>
            </table>
            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsBens">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsBens>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="compradores && compradores.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          <span class="fw-bold">Compradores</span>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of compradores; let i = index">
            <p class="fw-bold">Comprador {{i + 1}}</p>
            <table>
              <th>Pessoa</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>E-mail</th>
              <tr>
                <td>{{c.tipoPessoa}}</td>
                <td>{{c.nome}}</td>
                <td>{{c.telefone | mask: '(00) 0000-0000||(00) 00000-0000'}}</td>
                <td>{{c.email}}</td>
              </tr>
            </table>
            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsCompradores">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsCompradores>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="vendedores && vendedores.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <span class="fw-bold">Vendedores</span>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of vendedores; let i = index">
            <p class="fw-bold">Vendedor {{i + 1}}</p>
            <table>
              <th>Pessoa</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>E-mail</th>
              <tr>
                <td>{{c.tipoPessoa}}</td>
                <td>{{c.nome}}</td>
                <td>{{c.telefone | mask: '(00) 0000-0000||(00) 00000-0000'}}</td>
                <td>{{c.email}}</td>
              </tr>
            </table>
            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsVendedores">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsVendedores>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="doadores && doadores.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <span class="fw-bold">Doadores</span>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of doadores; let i = index">
            <p class="fw-bold">Doador {{i + 1}}</p>
            <table>
              <th>Pessoa</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>E-mail</th>
              <tr>
                <td>{{c.tipoPessoa}}</td>
                <td>{{c.nome}}</td>
                <td>{{c.telefone | mask: '(00) 0000-0000||(00) 00000-0000'}}</td>
                <td>{{c.email}}</td>
              </tr>
            </table>
            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsVendedores">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsVendedores>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="beneficiarios && beneficiarios.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          <span class="fw-bold">Beneficiários</span>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of beneficiarios; let i = index">
            <p class="fw-bold">Beneficiário {{i + 1}}</p>
            <table>
              <th>Pessoa</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>E-mail</th>
              <tr>
                <td>{{c.tipoPessoa}}</td>
                <td>{{c.nome}}</td>
                <td>{{c.telefone | mask: '(00) 0000-0000||(00) 00000-0000'}}</td>
                <td>{{c.email}}</td>
              </tr>
            </table>

            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsVendedores">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsVendedores>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #notTable>
  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="bens && bens.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <span class="fw-bold">Bens</span>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of bens; let i = index">
            <p class="fw-bold">Bem {{i + 1}}</p>
            <div class="info">
              <p><strong>Tipo:</strong>
                {{c.tipo}} </p>
              <p><strong>Valor:</strong>
                {{c.valor | currency: 'BRL': true}}
              </p>
            </div>
            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsBens">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsBens>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="compradores && compradores.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          <span class="fw-bold">Compradores</span>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of compradores; let i = index">
            <p class="fw-bold">Comprador {{i + 1}}</p>
            <div class="info">
              <p><strong>Pessoa:</strong>
                {{c.tipoPessoa}} </p>
              <p><strong>Nome:</strong>
                {{c.nome}}
              </p>
              <p><strong>Telefone: </strong>
                {{c.telefone | mask: '(00) 0000-0000||(00) 00000-0000'}}
              </p>
              <p><strong>E-mail:</strong>
                {{c.email}}
              </p>
            </div>
            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsCompradores">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsCompradores>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="vendedores && vendedores.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <span class="fw-bold">Vendedores</span>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of vendedores; let i = index">
            <p class="fw-bold">Vendedor {{i + 1}}</p>
            <div class="info">
              <p><strong>Pessoa:</strong>
                {{c.tipoPessoa}} </p>
              <p><strong>Nome:</strong>
                {{c.nome}}
              </p>
              <p><strong>Telefone: </strong>
                {{c.telefone | mask: '(00) 0000-0000||(00) 00000-0000'}}
              </p>
              <p><strong>E-mail:</strong>
                {{c.email}}
              </p>
            </div>
            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsVendedores">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsVendedores>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="doadores && doadores.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <span class="fw-bold">Doadores</span>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of doadores; let i = index">
            <p class="fw-bold">Doador {{i + 1}}</p>

            <div class="info">
              <p><strong>Pessoa:</strong>
                {{c.tipoPessoa}} </p>
              <p><strong>Nome:</strong>
                {{c.nome}}
              </p>
              <p><strong>Telefone: </strong>
                {{c.telefone | mask: '(00) 0000-0000||(00) 00000-0000'}}
              </p>
              <p><strong>E-mail:</strong>
                {{c.email}}
              </p>
            </div>
            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsVendedores">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsVendedores>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="beneficiarios && beneficiarios.length > 0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          <span class="fw-bold">Beneficiários</span>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of beneficiarios; let i = index">
            <p class="fw-bold">Beneficiário {{i + 1}}</p>

            <div class="info">
              <p> <strong>Pessoa:</strong>
                {{c.tipoPessoa}} </p>
              <p> <strong>Nome:</strong>
                {{c.nome}}
              </p>
              <p> <strong>Telefone:</strong>
                {{c.telefone | mask: '(00) 0000-0000||(00) 00000-0000'}}
              </p>
              <p> <strong>E-mail:</strong>
                {{c.email}}
              </p>
            </div>

            <hr>
            <p class="fw-bold">Documentação</p>
            <div *ngIf="c.documentos.length === 0; else documentsVendedores">
              <i *ngIf="c.documentos.length === 0">
                Nenhum documento anexado
              </i>
            </div>
            <ng-template #documentsVendedores>
              <div *ngFor="let d of c.documentos; let i = index">
                <span><a href="{{d.link}}">{{i + 1}} - {{d.nome}}</a></span>
              </div>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
