th{
    font-weight: 300;
    width: 200px;
}

hr{
    opacity: 0.1;
    height: 0.0;
}

.btn.btn-primary.btn-lg {
  height: 37px;
}

table th, table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none
}

p {
  margin-left: 2px;
}

strong {
  padding-right: 5px;
}
