.consulta {
    height: 100vh;
    .error {
        height: 200px;
        font-weight: 300;
        color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.background-image {
    background-image: url("../../../../assets/images/20943594.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30px;
    background-position-x: 80px;
}

button {
    height: 55px;
    width: 120px;
}

.mt-10{
  margin-top: -10px !important;
}


p {
    flex-direction: column;
    display: block;
}

.btn.btn-primary {
    width: 154px;
    height: 38px;
}


@media (max-width: 838px) {
    .row {
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px
    }
    .align-self-end {
        align-self: flex-start !important;
    }
    .btn.btn-primary {
        width: 100%;
    }
    .col-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 75%;
    }
    .col-3 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .form-control.ng-untouched.ng-pristine.ng-valid {
        width: 100%
    }
    input {
        width: 100%;
    }
}

@media (max-width: 628px) {
    .row {
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px
    }
    .align-self-end {
        align-self: flex-start !important;
    }
    input {
        width: 100%;
    }
}
