<div class="consulta p-3">
  <h4 class="fw-bold">Solicitações</h4>
  <p>Preencha os campos abaixo e acompanhe o andamento da sua solicitação</p>
  <form [formGroup]="form" class="row mb-2" (ngSubmit)="search()">
    <div class="col-lg-2 col-sm-12">
      <div class="form-group ">
        <label for="number">Solicitação</label>
        <input required type="text" class="form-control" formControlName="number" id="number"
          placeholder="Número da solicitação">
      </div>

    </div>
    <div class="col-lg-2 col-sm-12">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input required type="email" class="form-control" formControlName="email" id="email" on-focusout="validacaoEmail(form.value.email)" [ngClass]="{'invalid-form-field':form.controls.email.invalid && form.controls.email.touched}"
          placeholder="Digite seu email">
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 align-self-center mt-3">
      <button class="btn btn-primary form-control" id="btn"> Consultar </button>
    </div>

    <app-results *ngIf="data" [chat]="data?.aditional?.__zone_symbol__value[1]"
      [pendencias]="data?.aditional?.__zone_symbol__value[0]" [arquivos]="data?.aditional?.__zone_symbol__value[2]"
      [infoSolicitation]="data?.infoSolicitation" [solicitor]="data?.solicitor" [bens]="data?.bens"
      [compradores]="data.compradores" [vendedores]="data?.vendedores" (refresh)="updateData($event)"
      [doadores]="data?.doadores" [beneficiarios]="data?.beneficiarios">
    </app-results>
  </form>

  <div class="card error" *ngIf="notFound">
    <h1>Nenhuma solicitação encontrada</h1>
  </div>
</div>
