<div id="stepperPayroll" class="bs-stepper">
    <div class="bs-stepper-header">
        <div *ngFor="let step of steps; let i = index" class="d-flex flex-row w-100">
            <div class="line"></div>
            <div class="step" [attr.data-target]="step.target">
                <button class="step-trigger">
                    <span class="bs-stepper-circle">{{step.number}}</span>
                    <span class="bs-stepper-label d-none d-lg-block d-xl-block d-md-block">{{step.title}}</span>
                </button>
            </div>
            <div class="line"></div>
        </div>
    </div>
    <div class="bs-stepper-content">
        <form #form="ngForm">

            <!-- Step 01 -->
            <section id="test-l-1" class="content text-center">
                <app-solicitor-data [step]="getCurrentStep()" (goBack)="previous()" (goForward)="next()"
                    (update)="updateForm($event)"></app-solicitor-data>
            </section>

            <!-- Step 02 -->
            <section id="test-l-2" class="content text-center container">
                <div class="row container">
                    <div class="form-group col-6 text-left">
                        <label for="identificacao">Quantidade</label>
                        <select required (change)="defineQuantity(quantity, 'asset', '')" [(ngModel)]="quantity"
                            name="quantity" class="form-control">
                            <option [value]="1">1</option>
                            <option [value]="2">2</option>
                            <option [value]="3">3</option>
                            <option [value]="4">4</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="qtdAsset && qtdAsset.length > 0">
                    <div *ngFor="let asset of qtdAsset; let i = index">
                        <app-assets ngModelGroup="asset{{ i }}" [concernedType]="types" [asset]="asset"
                            [step]="getCurrentStep()" (goBack)="previous()" (goForward)="next()"
                            (update)="updateForm($event)">
                        </app-assets>
                    </div>
                </div>
            </section>

            <!-- Step 03 -->
            <section id="test-l-3" class="content text-center container">
                <div class="row container">
                    <div class="form-group col-6 text-left">
                        <label for="identificacao">Quantidade</label>
                        <select required (change)="defineQuantity(quantity, 'concerned', 'COMPRADOR')"
                            [(ngModel)]="quantity" name="quantity" class="form-control">
                            <option [value]="1">1</option>
                            <option [value]="2">2</option>
                            <option [value]="3">3</option>
                            <option [value]="4">4</option>
                        </select>
                    </div>
                </div>

                <div *ngIf="qtdConcerned && qtdConcerned.length > 0">
                    <div *ngFor="let concerned of qtdConcerned; let i = index">
                      <!--   <app-concerneds ngModelGroup="concerned{{ i }}"
                            [concernedType]="types.ESCRITURA_COMPRA_VENDA.concerneds[0].description"
                            [concerned]="concerned" [step]="getCurrentStep()" (goBack)="previous()" (goForward)="next()"
                            (update)="updateForm($event)">
                        </app-concerneds> -->
                    </div>
                </div>
            </section>

            <!-- Step 04 -->
            <section id="test-l-4" class="content text-center container">
                <div class="row container">
                    <div class="form-group col-6 text-left">
                        <label for="identificacao">Quantidade</label>
                        <select required (change)="defineQuantity(quantity, 'concerned', 'VENDEDOR')"
                            [(ngModel)]="quantity" name="quantity" class="form-control">
                            <option [value]="1">1</option>
                            <option [value]="2">2</option>
                            <option [value]="3">3</option>
                            <option [value]="4">4</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="qtdConcerned && qtdConcerned.length > 0">
                  <!--   <div *ngFor="let concerned of qtdConcerned; let i = index">
                        <app-concerneds ngModelGroup="concerned{{ i + 1 }}"
                            [concernedType]="types.ESCRITURA_COMPRA_VENDA.concerneds[1].description"
                            [concerned]="concerned" [step]="getCurrentStep()" (goBack)="previous()" (goForward)="next()"
                            (update)="updateForm($event)">
                        </app-concerneds>
                    </div> -->
                </div>
            </section>

            <!-- Step 05 -->
            <section id="test-l-5" class="content text-center">
                <app-additional-info [step]="getCurrentStep()" (goBack)="previous()" (goForward)="next()"
                    (update)="updateForm($event)"></app-additional-info>
            </section>

            <!-- Step 06 -->
            <section id="test-l-6" class="content text-center">
                <app-resume [step]="getCurrentStep()" (goBack)="previous()" (goForward)="next()"
                    (update)="updateForm($event)"></app-resume>
            </section>
        </form>

    </div>


    <div class="d-flex justify-content-center">
        <button *ngIf="getCurrentStep() > 0" class="btn btn-primary mr-4" (click)="previous()">Voltar</button>
        <button class="btn btn-primary" (click)="next()">Avançar</button>
    </div>

</div>