<div class="content">
  <div class="background-image"></div>
  <ng-container *ngIf="showContainer == false; else vertical">
    <mat-horizontal-stepper linear="true" #stepper>
      <form #id="ngForm">
        <mat-step [stepControl]="id.control">
          <ng-template matStepLabel>Dados do solicitante</ng-template>
          <h1 class="title_h1 mt-20">Dados do solicitante</h1>
          <mat-card class="cards">
            <h1 class="title_h1-card">
              Os dados informados serão uma das nossas formas de contato para
              esclarecimento de dúvidas, solicitação e envio de informações.
            </h1>
          </mat-card>

          <div class="d-flex mobile-flex-column mt-20">
            <mat-form-field class="mr">
              <mat-label>Você é o:</mat-label>
              <mat-select [(ngModel)]="confirm.identificacao" name="confirm.identificacao" required>
                <mat-option value="1">Comprador</mat-option>
                <mat-option value="2">Vendedor</mat-option>
                <mat-option value="3">Construtora</mat-option>
                <mat-option value="4">Advogado</mat-option>
                <mat-option value="5">Corretor</mat-option>
                <mat-option value="6">Outros</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="example-full-width mr" style="flex-direction: column">
              <mat-form-field class="example-full-width">
                <mat-label>Nome Completo</mat-label>
                <input [(ngModel)]="confirm.nomeSolicitante" name="confirm.nomeSolicitante" placeholder="" matInput
                  value="" required
                  pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]*\s.[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]*" />
              </mat-form-field>
              <small style="left: 5px; position: relative; top: -15px; color: red;" *ngIf="this.id.form.controls['confirm.nomeSolicitante']?.invalid &&
              this.id.form.controls['confirm.nomeSolicitante'].touched
                  ">Nome e sobrenome são obrigatórios</small>
            </div>

          </div>
          <div class="d-flex mobile-flex-column ">
            <div class="example-full-width mr" style="flex-direction: column">
              <mat-form-field class="example-full-width mr">
                <mat-label>Telefone</mat-label>
                <input type="numeric" [(ngModel)]="confirm.telefoneSolicitante" name="confirm.telefoneSolicitante"
                  on-focusout="phoneNumberIsReal(confirm.telefoneSolicitante, 0)" mask="(00) 0000-0000||(00) 00000-0000"
                  [showMaskTyped]="true" [dropSpecialCharacters]="false" placeholder="" matInput value="" required />
              </mat-form-field>
              <small style="position: relative; top: -15px; color: red">
                {{ error.phone.message }}
              </small>
            </div>
            <div class="example-full-width mr flex-column">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="confirm.emailSolicitante" name="confirm.emailSolicitante" placeholder="" type="email"
                  matInput value="" required on-focusout="validacaoEmail(confirm.emailSolicitante, 0)" />
              </mat-form-field>
              <small style="position: relative; top: -15px; color: red">
                {{ error.email.message }}
              </small>
            </div>
          </div>
          <div class="mt-20" style="text-align: right">
            <div class="f-flex-f-direction-column align-right">
              <button class="btn w100" mat-button type="button" mat-raised-button color="primary"
                (click)="goForward(stepper)">
                Próximo
              </button>
            </div>
          </div>
          <div style="min-height: 8px"></div>
        </mat-step>
      </form>
      <form #form="ngForm">
        <mat-step [stepControl]="form.control">
          <ng-template matStepLabel>Dados do bem</ng-template>
          <h1 class="title_h1 mt-20">Dados do bem</h1>
          <mat-card class="cards">
            <h1 class="title_h1-card">
              Importe os documentos que possui dos bens para iniciarmos a
              solicitação.
            </h1>
          </mat-card>
          <mat-form-field class="example-half-width mt-20">
            <mat-label>Informe a quantidade de bens</mat-label>
            <mat-select [name]="'confirm.qtd!.qtdBens'" [(ngModel)]="confirm.qtd!.qtdBens"
              (selectionChange)="setMaxInfo($event, 1)">
              <mat-option *ngFor="let qtd of getQtd()" value="{{ qtd }}">{{qtd}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="mt-20" *ngIf="qtdBens.length > 0">
            <span *ngFor="let bem of qtdBens; let i = index">
              <mat-accordion>
                <mat-expansion-panel class="mb-10" [expanded]="i == 0 || stepHasErrors ? true : false">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Bem {{ i + 1 }} </mat-panel-title>
                    <mat-panel-description> </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="f-flex-f-direction-column">
                    <div class="mt-20 d-flex-space-between mobile-flex-column">
                      <mat-form-field class="w-100 mr">
                        <mat-label>Tipo do imóvel</mat-label>
                        <mat-select [(ngModel)]="bem.tipoCodigo" [name]="'bem.tipoCodigo' + i" matNativeControl required
                          maxlength="">
                          <mat-option disabled selected="selected" [value]="">Selecione um tipo</mat-option>
                          <mat-option *ngFor="let tipo of bem.tipos" [value]="tipo.codigo">
                            {{ tipo.nome }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="w-100 mr">
                        <mat-label>Tipo do bem</mat-label>
                        <mat-select [disabled]="bem.tipoCodigo == 0" [(ngModel)]="bem.tipoBem"
                          (selectionChange)="setDocumentList(i, bem.tipoBem, 1)" [name]="'bem.tipoBem' + i"
                          matNativeControl required maxlength="">
                          <mat-option disabled selected="selected" [value]="">Selecione um tipo</mat-option>
                          <mat-option value="BEM-RURAL"> Bem rural </mat-option>
                          <mat-option value="BEM-URBANO"> Bem urbano </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                        <mat-label>Valor da venda</mat-label>
                        <input type="text" currencyMask [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ','
                          }" [(ngModel)]="bem.valor" [name]="'bem.valor' + i" placeholder="" matInput value="" required
                          autocomplete="off" />
                      </mat-form-field>
                    </div>
                    <div *ngIf="bem.tipoBem">
                      <div class="d-flex" style="justify-content: center">
                        <table id="customers">
                          <tr>
                            <th style="text-align: center">
                              Documentos necessários
                            </th>
                          </tr>
                          <tr style="text-align: center
                          " *ngFor="let doc of bem.items">
                            <td>
                              {{ doc.descricao }}
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="
                          f-flex-f-direction-column
                          mobile-flex-column
                          mt-10
                          align-start
                          w100
                        ">
                        <div class="f-flex-f-direction-column align-center w100">
                          <small class="max-width-200 w100 text-center">O tamanho máximo permitido dos arquivos é de 10MB.
                            <br />
                            Extensões aceitas: jpg/jpeg/png/pdf
                          </small>
                          <span class="uploads btn btn-primary btn-file w100">
                            <a class="btn-style w100">Adicionar arquivos</a>
                            <input type="file" accept=".jpg,.pdf,.jpeg,.png" (change)="handleSelect($event, 1, 'bens', i)"
                              multiple />
                          </span>
                        </div>
                        {{ bem.documentos }}
                        <div class="documents w100 mt-20" *ngIf="bem.documentos!.length > 0">
                          <div class="tr-title">
                            <span> Documentos anexados </span>
                          </div>
                          <table id="customers">
                            <tr *ngFor="let file of bem.documentos">
                              <td>
                                {{ file.nome }}
                              </td>
                              <td>
                                <div class="d-flex justify-center">
                                  <mat-icon class="d-flex justify-center" (click)="deleteFile(i, 1, file)">close
                                  </mat-icon>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </span>
          </div>
          <div class="d-flex-space-between mt-20">
            <button class="btn" mat-button type="button" mat-stroked-button color="primary" (click)="goBack(stepper)">
              Voltar
            </button>
            <button class="btn" mat-button type="button" mat-raised-button color="primary" (click)="goForward(stepper)">
              Próximo
            </button>
          </div>
          <div style="min-height: 8px"></div>
        </mat-step>
      </form>
      <form #form2="ngForm">
        <mat-step [stepControl]="form2.control">
          <ng-template matStepLabel>Dados do comprador</ng-template>

          <h1 class="title_h1 mt-20">Dados do comprador</h1>
          <mat-card class="cards">
            <h1 class="title_h1-card">
              Cadastre e importe os documentos dos participantes que tiver em
              mãos. Caso não tenha os documentos de outros participantes, informe
              o nome dele e e-mail e marque a caixa para comunicá-lo que
              enviaremos um e-mail informando os documentos necessários já com o
              link para importação.
            </h1>
          </mat-card>
          <mat-form-field class="example-half-width mt-20">
            <mat-label>Informe a quantidade de compradores</mat-label>
            <mat-select [name]="'confirm.qtd!.qtdCompradores'" [(ngModel)]="confirm.qtd!.qtdCompradores"
              (selectionChange)="setMaxInfo($event, 2)">
              <mat-option *ngFor="let qtd of getQtd()" value="{{ qtd }}">{{
                qtd
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="mt-20" *ngIf="qtdCompradores.length > 0">
            <span *ngFor="let comprador of qtdCompradores; let i = index">
              <mat-accordion>
                <mat-expansion-panel class="mb-10" [expanded]="i == 0 || stepHasErrors ? true : false">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Comprador {{ i + 1 }} </mat-panel-title>
                    <mat-panel-description> </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="mt-20 f-flex-f-direction-column">
                    <div class="d-flex mobile-flex-column">
                      <mat-form-field class="example-full-width mr">
                        <mat-label>Selecione</mat-label>
                        <mat-select (selectionChange)="
                            setDocumentList(i, comprador.tipoPessoa, 2)
                          " [(ngModel)]="comprador.tipoPessoa" [name]="'comprador.tipoPessoa' + i" matNativeControl
                          required>
                          <mat-option value="FISICA">Física </mat-option>
                          <mat-option value="JURIDICA">Jurídica </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width">
                          <mat-label>Nome</mat-label>
                          <input [(ngModel)]="comprador.nome" [name]="'comprador.nome' + i" placeholder="" matInput
                            value="" required type="text"
                            pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]*\s.[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]*" />
                        </mat-form-field>
                        <small style="left: 5px; position: relative; top: -15px; color: red;"
                          *ngIf="validateBuyerSeller(1, 'comprador.nome', i)">Nome e sobrenome
                          são obrigatórios
                        </small>
                      </div>
                    </div>
                    <div class="d-flex mobile-flex-column" *ngIf="comprador.compartilharInfo">
                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width mr">
                          <mat-label>Email</mat-label>
                          <input [(ngModel)]="comprador.email" type="text" placeholder="" matInput value=""
                            [required]="comprador.compartilharInfo" on-focusout="validacaoEmail(comprador.email, 1, i)"
                            [name]="'comprador.email' + i" />
                        </mat-form-field>
                        <small style="position: relative; top: -15px; color: red">
                          {{ error.email.message }}
                        </small>
                      </div>

                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width">
                          <mat-label>Telefone</mat-label>
                          <input [(ngModel)]="comprador.telefone" [name]="'comprador.telefone' + i" type="text"
                            mask="(00) 0000-0000 || (00) 00000-0000" placeholder="" matInput value=""
                            [required]="comprador.compartilharInfo" [showMaskTyped]="true" [dropSpecialCharacters]="false"
                            on-focusout="phoneNumberIsReal(comprador.telefone, 1, i)" />
                        </mat-form-field>
                        <small style="position: relative; top: -15px; color: red">
                          {{ error.phone.message }}
                        </small>
                      </div>

                    </div>
                    <div class="d-flex mt--8">
                      <section class="example-section">
                        <mat-checkbox [checked]="comprador.compartilharInfo" (change)="
                            comprador.compartilharInfo =
                              !comprador.compartilharInfo
                          " class="example-margin">
                          Deseja que o comprador {{i +1}} seja comunicado sobre o andamento da solicitação?
                        </mat-checkbox>
                      </section>
                    </div>
                    <div *ngIf="comprador.tipoPessoa != ''" class="mt-10">
                      <div class="d-flex" style="justify-content: center">
                        <table id="customers">
                          <tr>
                            <th style="text-align: center">
                              Documentos necessários
                            </th>
                          </tr>
                          <tr style="text-align: center" *ngFor="let doc of comprador.items">
                            <td>
                              {{ doc.descricao }}
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="
                          f-flex-f-direction-column
                          mobile-flex-column
                          mt-10
                          align-start
                          w100
                        ">
                        <div class="f-flex-f-direction-column align-center w100">
                          <small class="max-width-200 w100 text-center">O tamanho máximo permitido dos arquivos é de 10MB.
                            <br />
                            Extensões aceitas: jpg/jpeg/png/pdf
                          </small>
                          <span class="uploads btn btn-primary btn-file w100">
                            <a class="btn-style w100">Adicionar arquivos</a>
                            <input type="file" accept=".jpg,.pdf,.jpeg.,.png"
                              (change)="handleSelect($event, 2, 'compradores', i)" multiple />
                          </span>
                        </div>
                        <div class="documents w100 mt-20" *ngIf="comprador.documentos!.length > 0">
                          <div class="tr-title">
                            <span> Documentos anexados </span>
                          </div>
                          <table id="customers">
                            <tr *ngFor="let file of comprador.documentos">
                              <td>
                                {{ file.nome }}
                              </td>
                              <td>
                                <div class="d-flex justify-center">
                                  <mat-icon class="d-flex justify-center" (click)="deleteFile(i, 2, file)">close
                                  </mat-icon>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </span>
          </div>
          <div class="d-flex-space-between mt-20">
            <button class="btn" mat-button type="button" mat-stroked-button color="primary" (click)="goBack(stepper)">
              Voltar
            </button>
            <button class="btn" mat-button type="button" mat-raised-button color="primary" (click)="goForward(stepper)">
              Próximo
            </button>
          </div>
          <div style="min-height: 8px"></div>
        </mat-step>
      </form>
      <form #form3="ngForm">
        <mat-step [stepControl]="form3.control">
          <ng-template matStepLabel>Dados do vendedor</ng-template>

          <h1 class="title_h1 mt-20">Dados do vendedor</h1>
          <mat-card class="cards">
            <h1 class="title_h1-card">
              Cadastre e importe os documentos dos participantes que tiver em
              mãos. Caso não tenha os documentos de outros participantes, informe
              o nome dele e e-mail e marque a caixa para comunicá-lo que
              enviaremos um e-mail informando os documentos necessários já com o
              link para importação.
            </h1>
          </mat-card>
          <mat-form-field class="example-half-width mt-20">
            <mat-label>Informe a quantidade de vendedores</mat-label>
            <mat-select [name]="'confirm.qtd!.qtdVendedores'" [(ngModel)]="confirm.qtd!.qtdVendedores"
              (selectionChange)="setMaxInfo($event, 3)">
              <mat-option *ngFor="let qtd of getQtd()" value="{{ qtd }}">{{
                qtd
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="mt-20" *ngIf="qtdVendedores.length > 0">
            <span *ngFor="let vendedor of qtdVendedores; let i = index">
              <mat-accordion>
                <mat-expansion-panel class="mb-10" [expanded]="i == 0 || stepHasErrors ? true : false">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Vendedor {{ i + 1 }} </mat-panel-title>
                    <mat-panel-description> </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="mt-20 f-flex-f-direction-column">
                    <div class="d-flex mobile-flex-column">
                      <mat-form-field class="example-full-width mr">
                        <mat-label>Selecione</mat-label>
                        <mat-select (selectionChange)="
                            setDocumentList(i, vendedor.tipoPessoa, 3)
                          " [(ngModel)]="vendedor.tipoPessoa" [name]="'vendedor.tipoPessoa' + i" matNativeControl
                          required>
                          <mat-option value="FISICA">Física </mat-option>
                          <mat-option value="JURIDICA">Jurídica </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width">
                          <mat-label>Nome</mat-label>
                          <input [(ngModel)]="vendedor.nome" [name]="'vendedor.nome' + i" placeholder="" matInput value=""
                            required
                            pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]*\s.[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]*" />
                        </mat-form-field>
                        <small style="left: 5px; position: relative; top: -15px; color: red;"
                          *ngIf="validateBuyerSeller(2, 'vendedor.nome', i)">Nome e sobrenome são obrigatórios</small>
                      </div>
                    </div>
                    <div class="d-flex mobile-flex-column" *ngIf="vendedor.compartilharInfo">
                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width mr">
                          <mat-label>Email</mat-label>
                          <input [(ngModel)]="vendedor.email" [name]="'vendedor.email' + i" type="email" placeholder=""
                            matInput value="" [required]="vendedor.compartilharInfo"
                            on-focusout="validacaoEmail(vendedor.email, 2, i)" />
                        </mat-form-field>
                        <small style="position: relative; top: -15px; color: red">
                          {{ error.email.message }}
                        </small>
                      </div>

                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width">
                          <mat-label>Telefone</mat-label>
                          <input [(ngModel)]="vendedor.telefone" [name]="'vendedor.telefone' + i" type="numeric"
                            mask="(00) 0000-0000 || (00) 00000-0000" [showMaskTyped]="true"
                            [dropSpecialCharacters]="false" placeholder="" matInput value=""
                            [required]="vendedor.compartilharInfo"
                            on-focusout="phoneNumberIsReal(vendedor.telefone, 1, i)" />
                        </mat-form-field>
                        <small style="position: relative; top: -15px; color: red">
                          {{ error.phone.message }}
                        </small>
                      </div>
                    </div>
                    <div class="d-flex mt--8">
                      <section class="example-section">
                        <mat-checkbox [checked]="vendedor.compartilharInfo" (change)="
                            vendedor.compartilharInfo = !vendedor.compartilharInfo
                          " class="example-margin"> Deseja que o vendedor {{ i + 1 }} seja comunicado sobre o andamento
                          da solicitação?
                        </mat-checkbox>
                      </section>
                    </div>
                    <div *ngIf="vendedor.tipoPessoa != ''" class="mt-10">
                      <div class="d-flex" style="justify-content: center">
                        <table id="customers">
                          <tr>
                            <th style="text-align: center">
                              Documentos necessários
                            </th>
                          </tr>
                          <tr style="text-align: center" *ngFor="let doc of vendedor.items">
                            <td>
                              {{ doc.descricao }}
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="
                          f-flex-f-direction-column
                          mobile-flex-column
                          mt-10
                          align-start
                          w100
                        ">
                        <div class="f-flex-f-direction-column align-center w100">
                          <small class="max-width-200 w100 text-center">O tamanho máximo permitido dos arquivos é de 10MB.
                            <br />
                            Extensões aceitas: jpg/jpeg/png/pdf
                          </small>
                          <span class="uploads btn btn-primary btn-file w100">
                            <a class="btn-style w100">Adicionar arquivos</a>
                            <input type="file" accept=".jpg,.pdf,.jpeg.,.png"
                              (change)="handleSelect($event, 3, 'vendedores', i)" multiple />
                          </span>
                        </div>
                        <div class="documents w100 mt-20" *ngIf="vendedor.documentos!.length > 0">
                          <div class="tr-title">
                            <span> Documentos anexados </span>
                          </div>
                          <table id="customers">
                            <tr *ngFor="let file of vendedor.documentos">
                              <td>
                                {{ file.nome }}
                              </td>
                              <td>
                                <div>
                                  <div class="d-flex justify-center">
                                    <mat-icon class="d-flex justify-center" (click)="deleteFile(i, 3, file)">close
                                    </mat-icon>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </span>
          </div>
          <div class="d-flex-space-between mt-20">
            <button class="btn" mat-button type="button" mat-stroked-button color="primary" (click)="goBack(stepper)">
              Voltar
            </button>
            <button class="btn" mat-button type="button" mat-raised-button color="primary" (click)="goForward(stepper)">
              Próximo
            </button>
          </div>
          <div style="min-height: 8px"></div>
        </mat-step>
      </form>
      <mat-step>
        <ng-template matStepLabel>Resumo da solicitação</ng-template>
        <ng-template matStepLabel></ng-template>
        <h1 class="title_h1 mt-20">Resumo da solicitação</h1>
        <mat-card class="cards">
          <h1 class="title_h1-card">
            Confirme as informações preenchidas e envie sua solicitação.
          </h1>
        </mat-card>
        <mat-form-field class="example-full-width mt-20">
          <mat-label>Nome Completo</mat-label>
          <input [(ngModel)]="confirm.nomeSolicitante" name="nome" readonly [ngModelOptions]="{ standalone: true }"
            placeholder="" matInput value="" required />
        </mat-form-field>
        <div class="d-flex mobile-flex-column">
          <mat-form-field class="example-full-width mr">
            <mat-label>Telefone</mat-label>
            <input type="numeric" [ngModelOptions]="{ standalone: true }" readonly
              [(ngModel)]="confirm.telefoneSolicitante" name="telefone" mask="(00) 0000-0000 || (00) 00000-0000"
              placeholder="" matInput value="" required />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="confirm.emailSolicitante" name="email" readonly
              placeholder="" matInput value="" required />
          </mat-form-field>
        </div>

        <h1 class="title_h1 mt-20">Bens</h1>
        <div *ngIf="qtdBens.length > 0">
          <span *ngFor="let bem of qtdBens; let i = index">
            <mat-accordion>
              <mat-expansion-panel class="mb-10" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title> Bem {{ i + 1 }} </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20 f-flex-f-direction-column">
                  <div class="d-flex-space-between mobile-flex-column">
                    <mat-form-field class="w-100 mr">
                      <mat-label>Tipo</mat-label>
                      <input readonly type="numeric" readonly placeholder="" matInput
                        value="{{translateBensOnResume(bem.tipoCodigo, bem.tipos)}}" required />
                     <!--  <mat-select disabled [(ngModel)]="bem.tipoCodigo" [ngModelOptions]="{ standalone: true }"
                        matNativeControl required>
                        <mat-option *ngFor="let tipo of bem.tipos" [value]="bem.tipoCodigo">
                          {{ tipo.nome }}</mat-option>
                      </mat-select> -->
                    </mat-form-field>
                    <mat-form-field class="w-100">
                      <mat-label>Valor do bem</mat-label>
                      <input readonly type="numeric" readonly currencyMask [options]="{
                          prefix: 'R$ ',
                          thousands: '.',
                          decimal: ','
                        }" [(ngModel)]="bem.valor" [ngModelOptions]="{ standalone: true }" placeholder="" matInput
                        value="" required />
                    </mat-form-field>
                  </div>
                  <div class="d-flex-space-between mt-10">
                    <div class="documents">
                      <table id="customers" *ngIf="bem.documentos!.length > 0">
                        <tr *ngFor="let file of bem.documentos">
                          <td>
                            {{ file.nome }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
        </div>

        <h1 class="title_h1 mt-20">Compradores</h1>
        <div *ngIf="qtdCompradores.length > 0">
          <span *ngFor="let comprador of qtdCompradores; let i = index">
            <mat-accordion>
              <mat-expansion-panel class="mb-10" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title> Comprador {{ i + 1 }} </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20 f-flex-f-direction-column">
                  <div class="d-flex mobile-flex-column">
                    <mat-form-field class="example-full-width mr">
                      <mat-label>Selecione</mat-label>
                      <mat-select disabled [(ngModel)]="comprador.tipoPessoa" [name]="'comprador.tipoPessoa' + i"
                        matNativeControl required>
                        <mat-option value="FISICA">Física </mat-option>
                        <mat-option value="JURIDICA">Jurídica </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Nome</mat-label>
                      <input [(ngModel)]="comprador.nome" readonly [ngModelOptions]="{ standalone: true }" placeholder=""
                        matInput value="" required />
                    </mat-form-field>

                  </div>
                  <div class="d-flex mobile-flex-column">
                    <mat-form-field class="example-full-width mr">
                      <mat-label>Email</mat-label>
                      <input [(ngModel)]="comprador.email" readonly [ngModelOptions]="{ standalone: true }" placeholder=""
                        matInput value="" required />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Telefone</mat-label>
                      <input [(ngModel)]="comprador.telefone" mask="(00) 00000-0000 || (00) 0000-0000"
                        [ngModelOptions]="{ standalone: true }" readonly placeholder="" matInput value="" required />
                    </mat-form-field>
                  </div>

                  <div class="d-flex-space-between mt-10">
                    <div class="documents">
                      <table id="customers" *ngIf="comprador.documentos!.length > 0">
                        <tr *ngFor="let file of comprador?.documentos">
                          <td>
                            {{ file.nome }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="d-flex mt-10">
                    <section class="example-section">
                      <mat-checkbox [checked]="comprador.compartilharInfo" disabled class="example-margin">
                        Deseja que o comprador {{i+1}} seja comunicado sobre o andamento da solicitação?
                      </mat-checkbox>
                    </section>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
        </div>

        <h1 class="title_h1 mt-20">Vendedores</h1>
        <div *ngIf="qtdVendedores.length > 0">
          <span *ngFor="let vendedor of qtdVendedores; let i = index">
            <mat-accordion>
              <mat-expansion-panel class="mb-10" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title> Vendedor {{ i + 1 }} </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20 f-flex-f-direction-column">
                  <div class="d-flex mobile-flex-column">
                    <mat-form-field class="example-full-width mr">
                      <mat-label>Selecione</mat-label>
                      <mat-select disabled [(ngModel)]="vendedor.tipoPessoa" [name]="'vendedor.tipoPessoa' + i"
                        matNativeControl required>
                        <mat-option value="FISICA">Física </mat-option>
                        <mat-option value="JURIDICA">Jurídica </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Nome</mat-label>
                      <input readonly readonly [(ngModel)]="vendedor.nome" [ngModelOptions]="{ standalone: true }"
                        placeholder="" matInput value="" required />
                    </mat-form-field>
                  </div>
                  <div class="d-flex mobile-flex-column">
                    <mat-form-field class="example-full-width mr">
                      <mat-label>Email</mat-label>
                      <input readonly [(ngModel)]="vendedor.email" [ngModelOptions]="{ standalone: true }" placeholder=""
                        matInput value="" required />
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>Telefone</mat-label>
                      <input readonly [(ngModel)]="vendedor.telefone" mask="(00) 00000-0000 || (00) 0000-0000"
                        [ngModelOptions]="{ standalone: true }" placeholder="" matInput value="" required
                        on-focusout="phoneNumberIsReal(vendedor.telefone)" />
                    </mat-form-field>
                  </div>
                  <div class="d-flex-space-between mt-10">
                    <div class="documents">
                      <table id="customers" style="width: 35% !important" *ngIf="vendedor.documentos!.length > 0">
                        <tr *ngFor="let file of vendedor.documentos">
                          <td>
                            {{ file.nome }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="d-flex mt-10">
                    <section class="example-section">
                      <mat-checkbox disabled [checked]="vendedor.compartilharInfo" class="example-margin">Deseja que o
                        vendedor {{i+1}} seja comunicado sobre o andamento da solicitação?
                      </mat-checkbox>
                    </section>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
        </div>
        <div class="d-flex-space-between mt-20">
          <button class="btn" mat-button type="button" mat-stroked-button color="primary" matStepperPrevious>
            Voltar
          </button>
          <button class="btn" mat-button type="button" mat-raised-button color="primary" (click)="goForward(stepper)">
            Enviar
          </button>
        </div>
        <div style="min-height: 8px"></div>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-container>
  <ng-template #vertical>
    <mat-vertical-stepper linear="true" #stepper>
      <form #id="ngForm">
        <mat-step [stepControl]="id.control">
          <ng-template matStepLabel>Step 1</ng-template>
          <ng-template *ngIf="showContainer == false">Dados do solicitante</ng-template>
          <h1 class="title_h1 mt-20">Dados do solicitante</h1>
          <mat-card class="cards">
            <h1 class="title_h1-card">
              Os dados informados serão uma das nossas formas de contato para
              esclarecimento de dúvidas, solicitação e envio de informações.
            </h1>
          </mat-card>

          <div class="d-flex mobile-flex-column mt-20">
            <mat-form-field class="mr">
              <mat-label>Você é o:</mat-label>
              <mat-select [(ngModel)]="confirm.identificacao" name="confirm.identificacao" required>
                <mat-option value="1">Comprador</mat-option>
                <mat-option value="2">Vendedor</mat-option>
                <mat-option value="3">Construtora</mat-option>
                <mat-option value="4">Advogado</mat-option>
                <mat-option value="5">Corretor</mat-option>
                <mat-option value="6">Outros</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="example-full-width mr" style="flex-direction: column">
              <mat-form-field class="example-full-width">
                <mat-label>Nome Completo</mat-label>
                <input [(ngModel)]="confirm.nomeSolicitante" name="confirm.nomeSolicitante" placeholder="" matInput
                  value="" required
                  pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]*\s.[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]*" />
              </mat-form-field>
              <small style="left: 5px; position: relative; top: -15px; color: red;" *ngIf="this.id.form.controls['confirm.nomeSolicitante']?.invalid &&
              this.id.form.controls['confirm.nomeSolicitante'].touched
                  ">Nome e sobrenome são obrigatórios</small>
            </div>

          </div>
          <div class="d-flex mobile-flex-column ">
            <div class="example-full-width mr" style="flex-direction: column">
              <mat-form-field class="example-full-width mr">
                <mat-label>Telefone</mat-label>
                <input type="numeric" [(ngModel)]="confirm.telefoneSolicitante" name="confirm.telefoneSolicitante"
                  on-focusout="phoneNumberIsReal(confirm.telefoneSolicitante, 0)" mask="(00) 0000-0000||(00) 00000-0000"
                  [showMaskTyped]="true" [dropSpecialCharacters]="false" placeholder="" matInput value="" required />
              </mat-form-field>
              <small style="position: relative; top: -15px; color: red">
                {{ error.phone.message }}
              </small>
            </div>
            <div class="example-full-width mr flex-column">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="confirm.emailSolicitante" name="confirm.emailSolicitante" placeholder="" type="email"
                  matInput value="" required on-focusout="validacaoEmail(confirm.emailSolicitante, 0)" />
              </mat-form-field>
              <small style="position: relative; top: -15px; color: red">
                {{ error.email.message }}
              </small>
            </div>
          </div>
          <div class="mt-20" style="text-align: right">
            <div class="f-flex-f-direction-column align-right">
              <button class="btn w100" mat-button type="button" mat-raised-button color="primary"
                (click)="goForward(stepper)">
                Próximo
              </button>
            </div>
          </div>
          <div style="min-height: 8px"></div>
        </mat-step>
      </form>
      <form #form="ngForm">
        <mat-step [stepControl]="form.control">
          <ng-template matStepLabel>Dados do bem</ng-template>
          <h1 class="title_h1 mt-20">Dados do bem</h1>
          <mat-card class="cards">
            <h1 class="title_h1-card">
              Importe os documentos que possui dos bens para iniciarmos a
              solicitação.
            </h1>
          </mat-card>
          <mat-form-field class="example-half-width mt-20">
            <mat-label>Informe a quantidade de bens</mat-label>
            <mat-select [name]="'confirm.qtd!.qtdBens'" [(ngModel)]="confirm.qtd!.qtdBens"
              (selectionChange)="setMaxInfo($event, 1)">
              <mat-option *ngFor="let qtd of getQtd()" value="{{ qtd }}">{{qtd}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="mt-20" *ngIf="qtdBens.length > 0">
            <span *ngFor="let bem of qtdBens; let i = index">
              <mat-accordion>
                <mat-expansion-panel class="mb-10" [expanded]="i == 0 || stepHasErrors ? true : false">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Bem {{ i + 1 }} </mat-panel-title>
                    <mat-panel-description> </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="f-flex-f-direction-column">
                    <div class="mt-20 d-flex-space-between mobile-flex-column">
                      <mat-form-field class="w-100 mr">
                        <mat-label>Tipo do imóvel</mat-label>
                        <mat-select [(ngModel)]="bem.tipoCodigo" [name]="'bem.tipoCodigo' + i" matNativeControl required
                          maxlength="">
                          <mat-option disabled selected="selected" [value]="">Selecione um tipo</mat-option>
                          <mat-option *ngFor="let tipo of bem.tipos" [value]="tipo.codigo">
                            {{ tipo.nome }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="w-100 mr">
                        <mat-label>Tipo do bem</mat-label>
                        <mat-select [disabled]="bem.tipoCodigo == 0" [(ngModel)]="bem.tipoBem"
                          (selectionChange)="setDocumentList(i, bem.tipoBem, 1)" [name]="'bem.tipoBem' + i"
                          matNativeControl required maxlength="">
                          <mat-option disabled selected="selected" [value]="">Selecione um tipo</mat-option>
                          <mat-option value="BEM-RURAL"> Bem rural </mat-option>
                          <mat-option value="BEM-URBANO"> Bem urbano </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                        <mat-label>Valor da venda</mat-label>
                        <input type="text" currencyMask [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ','
                          }" [(ngModel)]="bem.valor" [name]="'bem.valor' + i" placeholder="" matInput value="" required
                          autocomplete="off" />
                      </mat-form-field>
                    </div>
                    <div *ngIf="bem.tipoBem">
                      <div class="d-flex" style="justify-content: center">
                        <table id="customers">
                          <tr>
                            <th style="text-align: center">
                              Documentos necessários
                            </th>
                          </tr>
                          <tr style="text-align: center
                          " *ngFor="let doc of bem.items">
                            <td>
                              {{ doc.descricao }}
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="
                          f-flex-f-direction-column
                          mobile-flex-column
                          mt-10
                          align-start
                          w100
                        ">
                        <div class="f-flex-f-direction-column align-center w100">
                          <small class="max-width-200 w100 text-center">O tamanho máximo permitido dos arquivos é de 10MB.
                            <br />
                            Extensões aceitas: jpg/jpeg/png/pdf
                          </small>
                          <span class="uploads btn btn-primary btn-file w100">
                            <a class="btn-style w100">Adicionar arquivos</a>
                            <input type="file" accept=".jpg,.pdf,.jpeg,.png" (change)="handleSelect($event, 1, 'bens', i)"
                              multiple />
                          </span>
                        </div>
                        {{ bem.documentos }}
                        <div class="documents w100 mt-20" *ngIf="bem.documentos!.length > 0">
                          <div class="tr-title">
                            <span> Documentos anexados </span>
                          </div>
                          <table id="customers">
                            <tr *ngFor="let file of bem.documentos">
                              <td>
                                {{ file.nome }}
                              </td>
                              <td>
                                <div class="d-flex justify-center">
                                  <mat-icon class="d-flex justify-center" (click)="deleteFile(i, 1, file)">close
                                  </mat-icon>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </span>
          </div>
          <div class="d-flex-space-between mt-20">
            <button class="btn" mat-button type="button" mat-stroked-button color="primary" (click)="goBack(stepper)">
              Voltar
            </button>
            <button class="btn" mat-button type="button" mat-raised-button color="primary" (click)="goForward(stepper)">
              Próximo
            </button>
          </div>
          <div style="min-height: 8px"></div>
        </mat-step>
      </form>
      <form #form2="ngForm">
        <mat-step [stepControl]="form2.control">
          <ng-template matStepLabel>Dados do comprador</ng-template>

          <h1 class="title_h1 mt-20">Dados do comprador</h1>
          <mat-card class="cards">
            <h1 class="title_h1-card">
              Cadastre e importe os documentos dos participantes que tiver em
              mãos. Caso não tenha os documentos de outros participantes, informe
              o nome dele e e-mail e marque a caixa para comunicá-lo que
              enviaremos um e-mail informando os documentos necessários já com o
              link para importação.
            </h1>
          </mat-card>
          <mat-form-field class="example-half-width mt-20">
            <mat-label>Informe a quantidade de compradores</mat-label>
            <mat-select [name]="'confirm.qtd!.qtdCompradores'" [(ngModel)]="confirm.qtd!.qtdCompradores"
              (selectionChange)="setMaxInfo($event, 2)">
              <mat-option *ngFor="let qtd of getQtd()" value="{{ qtd }}">{{
                qtd
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="mt-20" *ngIf="qtdCompradores.length > 0">
            <span *ngFor="let comprador of qtdCompradores; let i = index">
              <mat-accordion>
                <mat-expansion-panel class="mb-10" [expanded]="i == 0 || stepHasErrors ? true : false">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Comprador {{ i + 1 }} </mat-panel-title>
                    <mat-panel-description> </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="mt-20 f-flex-f-direction-column">
                    <div class="d-flex mobile-flex-column">
                      <mat-form-field class="example-full-width mr">
                        <mat-label>Selecione</mat-label>
                        <mat-select (selectionChange)="
                            setDocumentList(i, comprador.tipoPessoa, 2)
                          " [(ngModel)]="comprador.tipoPessoa" [name]="'comprador.tipoPessoa' + i" matNativeControl
                          required>
                          <mat-option value="FISICA">Física </mat-option>
                          <mat-option value="JURIDICA">Jurídica </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width">
                          <mat-label>Nome</mat-label>
                          <input [(ngModel)]="comprador.nome" [name]="'comprador.nome' + i" placeholder="" matInput
                            value="" required type="text"
                            pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]*\s.[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]*" />
                        </mat-form-field>
                        <small style="left: 5px; position: relative; top: -15px; color: red;"
                          *ngIf="validateBuyerSeller(1, 'comprador.nome', i)">Nome e sobrenome
                          são obrigatórios
                        </small>
                      </div>
                    </div>
                    <div class="d-flex mobile-flex-column" *ngIf="comprador.compartilharInfo">
                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width mr">
                          <mat-label>Email</mat-label>
                          <input [(ngModel)]="comprador.email" type="text" placeholder="" matInput value=""
                            [required]="comprador.compartilharInfo" on-focusout="validacaoEmail(comprador.email, 1, i)"
                            [name]="'comprador.email' + i" />
                        </mat-form-field>
                        <small style="position: relative; top: -15px; color: red">
                          {{ error.email.message }}
                        </small>
                      </div>

                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width">
                          <mat-label>Telefone</mat-label>
                          <input [(ngModel)]="comprador.telefone" [name]="'comprador.telefone' + i" type="text"
                            mask="(00) 0000-0000 || (00) 00000-0000" placeholder="" matInput value=""
                            [required]="comprador.compartilharInfo" [showMaskTyped]="true" [dropSpecialCharacters]="false"
                            on-focusout="phoneNumberIsReal(comprador.telefone, 1, i)" />
                        </mat-form-field>
                        <small style="position: relative; top: -15px; color: red">
                          {{ error.phone.message }}
                        </small>
                      </div>

                    </div>
                    <div class="d-flex mt--8">
                      <section class="example-section">
                        <mat-checkbox [checked]="comprador.compartilharInfo" (change)="
                            comprador.compartilharInfo =
                              !comprador.compartilharInfo
                          " class="example-margin">
                          Deseja que o comprador {{i +1}} seja comunicado sobre o andamento da solicitação?
                        </mat-checkbox>
                      </section>
                    </div>
                    <div *ngIf="comprador.tipoPessoa != ''" class="mt-10">
                      <div class="d-flex" style="justify-content: center">
                        <table id="customers">
                          <tr>
                            <th style="text-align: center">
                              Documentos necessários
                            </th>
                          </tr>
                          <tr style="text-align: center" *ngFor="let doc of comprador.items">
                            <td>
                              {{ doc.descricao }}
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="
                          f-flex-f-direction-column
                          mobile-flex-column
                          mt-10
                          align-start
                          w100
                        ">
                        <div class="f-flex-f-direction-column align-center w100">
                          <small class="max-width-200 w100 text-center">O tamanho máximo permitido dos arquivos é de 10MB.
                            <br />
                            Extensões aceitas: jpg/jpeg/png/pdf
                          </small>
                          <span class="uploads btn btn-primary btn-file w100">
                            <a class="btn-style w100">Adicionar arquivos</a>
                            <input type="file" accept=".jpg,.pdf,.jpeg.,.png"
                              (change)="handleSelect($event, 2, 'compradores', i)" multiple />
                          </span>
                        </div>
                        <div class="documents w100 mt-20" *ngIf="comprador.documentos!.length > 0">
                          <div class="tr-title">
                            <span> Documentos anexados </span>
                          </div>
                          <table id="customers">
                            <tr *ngFor="let file of comprador.documentos">
                              <td>
                                {{ file.nome }}
                              </td>
                              <td>
                                <div class="d-flex justify-center">
                                  <mat-icon class="d-flex justify-center" (click)="deleteFile(i, 2, file)">close
                                  </mat-icon>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </span>
          </div>
          <div class="d-flex-space-between mt-20">
            <button class="btn" mat-button type="button" mat-stroked-button color="primary" (click)="goBack(stepper)">
              Voltar
            </button>
            <button class="btn" mat-button type="button" mat-raised-button color="primary" (click)="goForward(stepper)">
              Próximo
            </button>
          </div>
          <div style="min-height: 8px"></div>
        </mat-step>
      </form>
      <form #form3="ngForm">
        <mat-step [stepControl]="form3.control">
          <ng-template matStepLabel>Dados do vendedor</ng-template>

          <h1 class="title_h1 mt-20">Dados do vendedor</h1>
          <mat-card class="cards">
            <h1 class="title_h1-card">
              Cadastre e importe os documentos dos participantes que tiver em
              mãos. Caso não tenha os documentos de outros participantes, informe
              o nome dele e e-mail e marque a caixa para comunicá-lo que
              enviaremos um e-mail informando os documentos necessários já com o
              link para importação.
            </h1>
          </mat-card>
          <mat-form-field class="example-half-width mt-20">
            <mat-label>Informe a quantidade de vendedores</mat-label>
            <mat-select [name]="'confirm.qtd!.qtdVendedores'" [(ngModel)]="confirm.qtd!.qtdVendedores"
              (selectionChange)="setMaxInfo($event, 3)">
              <mat-option *ngFor="let qtd of getQtd()" value="{{ qtd }}">{{
                qtd
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="mt-20" *ngIf="qtdVendedores.length > 0">
            <span *ngFor="let vendedor of qtdVendedores; let i = index">
              <mat-accordion>
                <mat-expansion-panel class="mb-10" [expanded]="i == 0 || stepHasErrors ? true : false">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Vendedor {{ i + 1 }} </mat-panel-title>
                    <mat-panel-description> </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="mt-20 f-flex-f-direction-column">
                    <div class="d-flex mobile-flex-column">
                      <mat-form-field class="example-full-width mr">
                        <mat-label>Selecione</mat-label>
                        <mat-select (selectionChange)="
                            setDocumentList(i, vendedor.tipoPessoa, 3)
                          " [(ngModel)]="vendedor.tipoPessoa" [name]="'vendedor.tipoPessoa' + i" matNativeControl
                          required>
                          <mat-option value="FISICA">Física </mat-option>
                          <mat-option value="JURIDICA">Jurídica </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width">
                          <mat-label>Nome</mat-label>
                          <input [(ngModel)]="vendedor.nome" [name]="'vendedor.nome' + i" placeholder="" matInput value=""
                            required
                            pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]*\s.[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]*" />
                        </mat-form-field>
                        <small style="left: 5px; position: relative; top: -15px; color: red;"
                          *ngIf="validateBuyerSeller(2, 'vendedor.nome', i)">Nome e sobrenome são obrigatórios</small>
                      </div>
                    </div>
                    <div class="d-flex mobile-flex-column" *ngIf="vendedor.compartilharInfo">
                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width mr">
                          <mat-label>Email</mat-label>
                          <input [(ngModel)]="vendedor.email" [name]="'vendedor.email' + i" type="email" placeholder=""
                            matInput value="" [required]="vendedor.compartilharInfo"
                            on-focusout="validacaoEmail(vendedor.email, 2, i)" />
                        </mat-form-field>
                        <small style="position: relative; top: -15px; color: red">
                          {{ error.email.message }}
                        </small>
                      </div>

                      <div class="example-full-width mr flex-column">
                        <mat-form-field class="example-full-width">
                          <mat-label>Telefone</mat-label>
                          <input [(ngModel)]="vendedor.telefone" [name]="'vendedor.telefone' + i" type="numeric"
                            mask="(00) 0000-0000 || (00) 00000-0000" [showMaskTyped]="true"
                            [dropSpecialCharacters]="false" placeholder="" matInput value=""
                            [required]="vendedor.compartilharInfo"
                            on-focusout="phoneNumberIsReal(vendedor.telefone, 1, i)" />
                        </mat-form-field>
                        <small style="position: relative; top: -15px; color: red">
                          {{ error.phone.message }}
                        </small>
                      </div>
                    </div>
                    <div class="d-flex mt--8">
                      <section class="example-section">
                        <mat-checkbox [checked]="vendedor.compartilharInfo" (change)="
                            vendedor.compartilharInfo = !vendedor.compartilharInfo
                          " class="example-margin"> Deseja que o vendedor {{ i + 1 }} seja comunicado sobre o andamento
                          da solicitação?
                        </mat-checkbox>
                      </section>
                    </div>
                    <div *ngIf="vendedor.tipoPessoa != ''" class="mt-10">
                      <div class="d-flex" style="justify-content: center">
                        <table id="customers">
                          <tr>
                            <th style="text-align: center">
                              Documentos necessários
                            </th>
                          </tr>
                          <tr style="text-align: center" *ngFor="let doc of vendedor.items">
                            <td>
                              {{ doc.descricao }}
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="
                          f-flex-f-direction-column
                          mobile-flex-column
                          mt-10
                          align-start
                          w100
                        ">
                        <div class="f-flex-f-direction-column align-center w100">
                          <small class="max-width-200 w100 text-center">O tamanho máximo permitido dos arquivos é de 10MB.
                            <br />
                            Extensões aceitas: jpg/jpeg/png/pdf
                          </small>
                          <span class="uploads btn btn-primary btn-file w100">
                            <a class="btn-style w100">Adicionar arquivos</a>
                            <input type="file" accept=".jpg,.pdf,.jpeg.,.png"
                              (change)="handleSelect($event, 3, 'vendedores', i)" multiple />
                          </span>
                        </div>
                        <div class="documents w100 mt-20" *ngIf="vendedor.documentos!.length > 0">
                          <div class="tr-title">
                            <span> Documentos anexados </span>
                          </div>
                          <table id="customers">
                            <tr *ngFor="let file of vendedor.documentos">
                              <td>
                                {{ file.nome }}
                              </td>
                              <td>
                                <div>
                                  <div class="d-flex justify-center">
                                    <mat-icon class="d-flex justify-center" (click)="deleteFile(i, 3, file)">close
                                    </mat-icon>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </span>
          </div>
          <div class="d-flex-space-between mt-20">
            <button class="btn" mat-button type="button" mat-stroked-button color="primary" (click)="goBack(stepper)">
              Voltar
            </button>
            <button class="btn" mat-button type="button" mat-raised-button color="primary" (click)="goForward(stepper)">
              Próximo
            </button>
          </div>
          <div style="min-height: 8px"></div>
        </mat-step>
      </form>
      <mat-step>
        <ng-template matStepLabel>Resumo da solicitação</ng-template>
        <ng-template matStepLabel></ng-template>
        <h1 class="title_h1 mt-20">Resumo da solicitação</h1>
        <mat-card class="cards">
          <h1 class="title_h1-card">
            Confirme as informações preenchidas e envie sua solicitação.
          </h1>
        </mat-card>
        <mat-form-field class="example-full-width mt-20">
          <mat-label>Nome Completo</mat-label>
          <input [(ngModel)]="confirm.nomeSolicitante" name="nome" readonly [ngModelOptions]="{ standalone: true }"
            placeholder="" matInput value="" required />
        </mat-form-field>
        <div class="d-flex mobile-flex-column">
          <mat-form-field class="example-full-width mr">
            <mat-label>Telefone</mat-label>
            <input type="numeric" [ngModelOptions]="{ standalone: true }" readonly
              [(ngModel)]="confirm.telefoneSolicitante" name="telefone" mask="(00) 0000-0000 || (00) 00000-0000"
              placeholder="" matInput value="" required />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="confirm.emailSolicitante" name="email" readonly
              placeholder="" matInput value="" required />
          </mat-form-field>
        </div>

        <h1 class="title_h1 mt-20">Bens</h1>
        <div *ngIf="qtdBens.length > 0">
          <span *ngFor="let bem of qtdBens; let i = index">
            <mat-accordion>
              <mat-expansion-panel class="mb-10" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title> Bem {{ i + 1 }} </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20 f-flex-f-direction-column">
                  <div class="d-flex-space-between mobile-flex-column">
                    <mat-form-field class="w-100 mr">
                      <mat-label>Tipo</mat-label>
                      <input readonly type="numeric" readonly placeholder="" matInput
                        value="{{translateBensOnResume(bem.tipoCodigo, bem.tipos)}}" required />
                     <!--  <mat-select disabled [(ngModel)]="bem.tipoCodigo" [ngModelOptions]="{ standalone: true }"
                        matNativeControl required>
                        <mat-option *ngFor="let tipo of bem.tipos" [value]="bem.tipoCodigo">
                          {{ tipo.nome }}</mat-option>
                      </mat-select> -->
                    </mat-form-field>
                    <mat-form-field class="w-100">
                      <mat-label>Valor do bem</mat-label>
                      <input readonly type="numeric" readonly currencyMask [options]="{
                          prefix: 'R$ ',
                          thousands: '.',
                          decimal: ','
                        }" [(ngModel)]="bem.valor" [ngModelOptions]="{ standalone: true }" placeholder="" matInput
                        value="" required />
                    </mat-form-field>
                  </div>
                  <div class="d-flex-space-between mt-10">
                    <div class="documents">
                      <table id="customers" *ngIf="bem.documentos!.length > 0">
                        <tr *ngFor="let file of bem.documentos">
                          <td>
                            {{ file.nome }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
        </div>

        <h1 class="title_h1 mt-20">Compradores</h1>
        <div *ngIf="qtdCompradores.length > 0">
          <span *ngFor="let comprador of qtdCompradores; let i = index">
            <mat-accordion>
              <mat-expansion-panel class="mb-10" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title> Comprador {{ i + 1 }} </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20 f-flex-f-direction-column">
                  <div class="d-flex mobile-flex-column">
                    <mat-form-field class="example-full-width mr">
                      <mat-label>Selecione</mat-label>
                      <mat-select disabled [(ngModel)]="comprador.tipoPessoa" [name]="'comprador.tipoPessoa' + i"
                        matNativeControl required>
                        <mat-option value="FISICA">Física </mat-option>
                        <mat-option value="JURIDICA">Jurídica </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Nome</mat-label>
                      <input [(ngModel)]="comprador.nome" readonly [ngModelOptions]="{ standalone: true }" placeholder=""
                        matInput value="" required />
                    </mat-form-field>

                  </div>
                  <div class="d-flex mobile-flex-column">
                    <mat-form-field class="example-full-width mr">
                      <mat-label>Email</mat-label>
                      <input [(ngModel)]="comprador.email" readonly [ngModelOptions]="{ standalone: true }" placeholder=""
                        matInput value="" required />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Telefone</mat-label>
                      <input [(ngModel)]="comprador.telefone" mask="(00) 00000-0000 || (00) 0000-0000"
                        [ngModelOptions]="{ standalone: true }" readonly placeholder="" matInput value="" required />
                    </mat-form-field>
                  </div>

                  <div class="d-flex-space-between mt-10">
                    <div class="documents">
                      <table id="customers" *ngIf="comprador.documentos!.length > 0">
                        <tr *ngFor="let file of comprador?.documentos">
                          <td>
                            {{ file.nome }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="d-flex mt-10">
                    <section class="example-section">
                      <mat-checkbox [checked]="comprador.compartilharInfo" disabled class="example-margin">
                        Deseja que o comprador {{i+1}} seja comunicado sobre o andamento da solicitação?
                      </mat-checkbox>
                    </section>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
        </div>

        <h1 class="title_h1 mt-20">Vendedores</h1>
        <div *ngIf="qtdVendedores.length > 0">
          <span *ngFor="let vendedor of qtdVendedores; let i = index">
            <mat-accordion>
              <mat-expansion-panel class="mb-10" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title> Vendedor {{ i + 1 }} </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20 f-flex-f-direction-column">
                  <div class="d-flex mobile-flex-column">
                    <mat-form-field class="example-full-width mr">
                      <mat-label>Selecione</mat-label>
                      <mat-select disabled [(ngModel)]="vendedor.tipoPessoa" [name]="'vendedor.tipoPessoa' + i"
                        matNativeControl required>
                        <mat-option value="FISICA">Física </mat-option>
                        <mat-option value="JURIDICA">Jurídica </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Nome</mat-label>
                      <input readonly readonly [(ngModel)]="vendedor.nome" [ngModelOptions]="{ standalone: true }"
                        placeholder="" matInput value="" required />
                    </mat-form-field>
                  </div>
                  <div class="d-flex mobile-flex-column">
                    <mat-form-field class="example-full-width mr">
                      <mat-label>Email</mat-label>
                      <input readonly [(ngModel)]="vendedor.email" [ngModelOptions]="{ standalone: true }" placeholder=""
                        matInput value="" required />
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>Telefone</mat-label>
                      <input readonly [(ngModel)]="vendedor.telefone" mask="(00) 00000-0000 || (00) 0000-0000"
                        [ngModelOptions]="{ standalone: true }" placeholder="" matInput value="" required
                        on-focusout="phoneNumberIsReal(vendedor.telefone)" />
                    </mat-form-field>
                  </div>
                  <div class="d-flex-space-between mt-10">
                    <div class="documents">
                      <table id="customers" style="width: 35% !important" *ngIf="vendedor.documentos!.length > 0">
                        <tr *ngFor="let file of vendedor.documentos">
                          <td>
                            {{ file.nome }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="d-flex mt-10">
                    <section class="example-section">
                      <mat-checkbox disabled [checked]="vendedor.compartilharInfo" class="example-margin">Deseja que o
                        vendedor {{i+1}} seja comunicado sobre o andamento da solicitação?
                      </mat-checkbox>
                    </section>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
        </div>
        <div class="d-flex-space-between mt-20">
          <button class="btn" mat-button type="button" mat-stroked-button color="primary" matStepperPrevious>
            Voltar
          </button>
          <button class="btn" [disabled]="disabledButton == false" mat-button type="button" mat-raised-button color="primary" (click)="goForward(stepper)">
            Enviar
          </button>
        </div>
        <div style="min-height: 8px"></div>
      </mat-step>
    </mat-vertical-stepper>
  </ng-template>


</div>
