<h4 class="fw-bold mt-4">Pendências</h4>

<!-- <div
  *ngIf="infoSolicitation.tipoEscritura == 'ESCRITURA_COMPRA_VENDA' || infoSolicitation.tipoEscritura == 'ESCRITURA_DOACAO'; else solicitacaoGenerica">
  <div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="findIfThereIsPendingByType(1)">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsePendingOne" aria-expanded="true" aria-controls="collapsePendingOne">
          <span class="fw-bold">{{translations[1].plural}}</span>
          <span class="icon-notification-qtd ml-2"
            *ngIf="enablePendingItemsNotification(1)">{{enablePendingItemsNotification(1)}}</span>
        </button>
      </h2>
      <div id="collapsePendingOne" class="accordion-collapse collapse p-2" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let c of pendencias; let i = index">
            <div *ngIf="c.tipoArquivo.charAt(2) === '1'">
              <div class="card row w-100 shadow-box-custom p-4 mb-3 card-concerneds">
                <div class="pb-2 d-flex justify-content-between align-items-center">
                  <p class="fw-bold m-0"> -->
<!-- tipo -->
<!-- {{translations[c.tipoArquivo.charAt(2)].description}} -->
<!-- tipo -->
<!-- index -->
<!-- {{readAsNumber(c.tipoArquivo.charAt(0)) + 1}} -->
<!-- index -->
<!--                     |
                    {{c.resolvido === true ? 'Resolvido'
                    :
                    c.resolvido === false ? 'Pendente' : 'Em análise'
                    }}
                  </p>
                  <a class="btn-link" (click)="openHistory(i)">Ver histórico</a>
                </div>
                <hr>
                <div class="row">
                  <div class="col-6">
                    <table>
                      <th>Data</th>
                      <th>Descrição</th>
                      <tr>
                        <td>{{c.dataPendencia | date: 'dd/MM/yyyy HH:mm:ss '}}</td>
                        <td>{{c.textoPendencia}}</td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-6 text-right">
                    <button class="btn btn-primary pendencia" (click)="resolverPendencia(c)">Resolver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="findIfThereIsPendingByType(2)">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsePendingTwo" aria-expanded="true" aria-controls="collapsePendingTwo">
        <span class="fw-bold">{{translations[2].plural}}</span>
        <span class="icon-notification-qtd ml-2"
          *ngIf="enablePendingItemsNotification(2)">{{enablePendingItemsNotification(2)}}</span>

      </button>
    </h2>
    <div id="collapsePendingTwo" class="accordion-collapse collapse p-2" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div *ngFor="let c of pendencias; let i = index">
          <div *ngIf="c.tipoArquivo.charAt(2) === '2'">

            <div class="card row w-100 shadow-box-custom p-4 mb-3 card-concerneds">
              <div class="pb-2 d-flex justify-content-between align-items-center">
                <p class="fw-bold m-0"> -->
<!-- tipo -->
<!-- {{translations[c.tipoArquivo.charAt(2)].description}} -->
<!-- tipo -->
<!-- index -->
<!-- {{readAsNumber(c.tipoArquivo.charAt(0)) + 1}} -->
<!-- index -->
<!--                   |
                  {{c.resolvido === true ? 'Resolvido'
                  :
                  c.resolvido === false ? 'Pendente' : 'Em análise'
                  }}
                </p>
                <a class="btn-link" (click)="openHistory(i)">Ver histórico</a>
              </div>
              <hr>
              <div class="row">
                <div class="col-6">
                  <table>
                    <th>Data</th>
                    <th>Descrição</th>
                    <tr>
                      <td>{{c.dataPendencia | date: 'dd/MM/yyyy HH:mm:ss '}}</td>
                      <td>{{c.textoPendencia}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn-primary pendencia" (click)="resolverPendencia(c)">Resolver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mt-4 shadow-box-custom" id="accordionExample" *ngIf="findIfThereIsPendingByType(3)">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsePendingThree" aria-expanded="true" aria-controls="collapsePendingThree">
        <span class="fw-bold">{{translations[3].plural}}</span>
        <span class="icon-notification-qtd ml-2"
          *ngIf="enablePendingItemsNotification(3)">{{enablePendingItemsNotification(3)}}</span>

      </button>
    </h2>
    <div id="collapsePendingThree" class="accordion-collapse collapse p-2" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div *ngFor="let c of pendencias; let i = index">
          <div *ngIf="c.tipoArquivo.charAt(2) === '3'">
            <div class="card row w-100 shadow-box-custom p-4 mb-3 card-concerneds">
              <div class="pb-2 d-flex justify-content-between align-items-center">
                <p class="fw-bold m-0"> -->
<!-- tipo -->
<!-- {{translations[c.tipoArquivo.charAt(2)].description}} -->
<!-- tipo -->
<!-- index -->
<!-- {{readAsNumber(c.tipoArquivo.charAt(0)) + 1}} -->
<!-- index -->
<!--                   |
                  {{c.resolvido === true ? 'Resolvido'
                  :
                  c.resolvido === false ? 'Pendente' : 'Em análise'
                  }}
                </p>
                <a class="btn-link" (click)="openHistory(i)">Ver histórico</a>
              </div>
              <hr>
              <div class="row">
                <div class="col-6">
                  <table>
                    <th>Data</th>
                    <th>Descrição</th>
                    <tr>
                      <td>{{c.dataPendencia | date: 'dd/MM/yyyy HH:mm:ss '}}</td>
                      <td>{{c.textoPendencia}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn-primary pendencia" (click)="resolverPendencia(c)">Resolver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="col-10">
        <div class="table-responsive">
            <table class="table">
                <th class="w-15">Data</th>
                <th class="w-55">Descrição</th>
                <tr>
                    <td>{{c.dataPendencia | date: 'dd/MM/yyyy HH:mm:ss '}}</td>
                    <td>
                        <div [innerHTML]="c.textoPendencia"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div> -->
<ng-container *ngIf="showContainer == false; else notTable">
    <div *ngFor="let c of pendencias; let i = index">
        <div>
            <div class="card row w-100 shadow-box-custom p-4 mb-3 card-concerneds ml-3">
                <div class="pb-2 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <p class="fw-bold m-0">
                            {{c.resolvido === true ? 'Resolvido' : c.resolvido === false ? 'Pendente' : ' Status - Em análise ' }}
                        </p>
                        <span class="icon-notification-red ml-2" *ngIf="this.pendencias[i].resolvido == false"></span>
                        <span class="icon-notification-green ml-2" *ngIf="this.pendencias[i].resolvido == true"></span>
                        <span class="icon-notification-yellow ml-2" *ngIf="this.pendencias[i].resolvido== null"></span>
                    </div>
                    <a class="btn-link btn-sm" (click)="openHistory(i)">Ver histórico</a>
                </div>
                <hr>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="resolverPendencia(c)"> Resolver </button>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="table-responsive">
                        <table class="table">
                            <th class="w-10">Data</th>
                            <th>Descrição</th>
                            <tr>
                                <td>{{c.dataPendencia | date: 'dd/MM/yyyy'}}</td>
                                <td class="work-break" [innerHTML]="c.textoPendencia">
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #notTable>
    <div *ngFor="let c of pendencias; let i = index">
        <div>
            <div class="card row w-100 shadow-box-custom p-4 mb-3 card-concerneds ml-3">
                <div class="pb-2 d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <p class="fw-bold m-0">
                            {{c.resolvido === true ? 'Resolvido' : c.resolvido === false ? 'Pendente' : 'Em análise' }}
                        </p>
                        <span class="icon-notification-red ml-2" *ngIf="this.pendencias[i].resolvido == false"></span>
                        <span class="icon-notification-green ml-2" *ngIf="this.pendencias[i].resolvido == true"></span>
                        <span class="icon-notification-yellow ml-2" *ngIf="this.pendencias[i].resolvido== null"></span>
                    </div>
                    <a class="btn-link btn-sm" (click)="openHistory(i)">Ver histórico</a>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="info">
                        <p> <strong>Data:</strong> {{c.dataPendencia | date: 'dd/MM/yyyy '}}</p>
                        <p class="d-flex"> <strong>Descrição: </strong> <span class="work-break ml-8" [innerHTML]="c.textoPendencia"></span>
                        </p>
                    </div>
                  </div>
                  <button class="btn btn-primary w-100" (click)="resolverPendencia(c)"> Resolver </button>
            </div>
        </div>
    </div>
</ng-template>
