th {
    font-weight: 300;
    font-weight: bold;
}

.btn.btn-primary {
    width: 154px;
    height: 38px;
}

hr {
    opacity: 0.1;
    height: 0;
    max-width: 98%;
}

.pendencia {
    width: 130px;
}

.card-concerneds {
    background-color: #fafafe;
}

.icon-notification-red {
    background: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.icon-notification-yellow {
    background: yellow;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.icon-notification-green {
    background: green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.ml-3 {
    margin-left: 0px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.work-break {
    word-break: break-word;
    white-space: normal;
    padding: 0 !important;
}

table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none
}

.text-align-end {
    text-align: end;
}

strong {
    padding-right: 5px;
}

