.content {
    /*    .background-image {
        height: 1000px;
        background-image: url('../../../assets/images/background-image.png');
    } */
    form.example-form {
        .example-full-width {
            width: 100%;
        }
    }
}

.teste {
    background: green !important;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
.mat-radio-button ~ .mat-radio-button:checked:after {
    border-color: #673ab7;
}

::ng-deep .mat-step-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    .mat-step-label {
        margin-top: 10px;
        .mat-step-text-label {
            display: flex;
            background: #cacaca;
            border-radius: 10px;
            height: 30px;
            flex-direction: column;
            justify-content: center;
            padding: 0 4px;
        }
    }
}

input {
    text-align: left !important;
}
.example-half-width {
    width: 50%;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

::ng-deep .g-tns-c106-2 .ng-star-inserted {
    position: absolute !important;
    top: 2px !important;
}

#customers td {
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    max-width: 300px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #673ab7;
    color: white;
}

mat-expansion-panel-header {
    background: #673ab7 !important;
}

mat-panel-title {
    color: white;
    font-weight: 500;
}

.mat-card-header-text {
    width: 100% !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
    .btn-style {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #673ab7;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
    }
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.max-width-200 {
    max-width: 200px;
}

.documents {
    min-width: 350px;
    .tr-title {
        background: #673ab7;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
}

@media (max-width: 768px) {
    ::ng-deep .mat-checkbox-layout {
        white-space: normal !important;
    }

    ::ng-deep .mat-horizontal-content-container {
        padding: 0px !important;
    }

    .overflow-y {
        overflow-y: scroll !important;
    }

    #customers td {
        max-width: 230px;
    }

    .documents {
        margin-top: 8px;
    }

    .ml {
        margin: 0;
    }
    .mr {
        margin: 0;
    }

    .mobile-flex-column {
        flex-direction: column;
    }
}

.example-full-width {
    width: 100%;
}

.d-flex {
    display: flex;
}

@media (max-width: 950px) {
    ::ng-deep .mat-step-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .mat-step-label {
            margin-top: 0;
        }
    }

    ::ng-deep .mat-vertical-content-container{
        margin: 0 !important;
    }
    .mobile-flex-column {
        flex-direction: column;
    }
}
