<div class="conteudo">
    <img class="mb-4" src="../../../../assets/images/success.png" alt="" style="width: 100px;">
    <p class="success-solicitation">Solicitação enviada com sucesso!</p>
    <p>Codigo: {{ codigo }}</p>
    <button (click)="voltarInicio()" class="button-next">Voltar ao início</button>
</div>
