.conteudo {
    width: 1100px;
    background: #ffffff;
    box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    text-align: center;
    padding: 5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

p {
    margin-bottom: 2.5rem;
    font-size: 18px;
}

.success-solicitation {
    font-weight: 700;
    font-size: 26px;
}

.button-next {
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #1242ad 0%, #388af2 100%);
    border-radius: 48px;
    border: none;
    width: 200px;
    height: 53px;
    margin: 0 auto;
}
