.messages {
    overflow-y: scroll;
    .sent-position {
        align-self: flex-end;
        text-align: -webkit-right;
        .id {
            font-size: 10px;
            color: grey;
            margin: 0 0 2px 0;
            text-align: right;
        }
        .message {
            //width: fit-content;
            display: flex;
            flex-direction: column;
            margin: 1px 1px 20px 1px;
            background: #4445e7;
            border-radius: 5px;
            width: 200px;
            color: white;
            .fs-13 {
                margin: 8px 40px -6px 40px;
            }
            .message-time {
                font-size: 10px;
                position: relative;
                top: 15px;
                color: gray;
                text-align: right;
            }
        }
    }
    .received-position {
        align-self: flex-start;
        text-align: -webkit-left;
        .id {
            font-size: 10px;
            color: grey;
            margin: 0 0 2px 0;
            text-align: left;
        }
        .message {
            width: fit-content;
            display: flex;
            flex-direction: column;
            margin: 1px 1px 20px 1px;
            background: #808080;
            border-radius: 5px;
            color: white;
            width: 100%;
            .fs-13 {
                margin: 8px 40px 0px 40px;

            }
            .message-time {
                font-size: 10px;
                position: relative;
                top: 15px;
                color: gray;
                text-align: left;
            }
        }
    }
}

.font-size-chat {
    font-size: 10px;
}

.pendencia {
    width: 130px;
    padding: 10px 16px;
}

.fs-13 {
  p {
    margin-bottom: 0px !important;
  }
}


/* .modal-body {
    min-width: 500px;
} */
