<div class="modal-header">
    <h6 class="modal-title">Histórico da pendência</h6>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body messages">
    <div *ngFor="let message of history; let i = index" [ngClass]="{'sent-position': message.msgSolicitante, 'received-position': !message.msgSolicitante}">
        <p *ngIf="message.linkArquivo!null" class="m-0 font-size-chat">{{message.remetente}}</p>
        <div class="message" *ngIf="message.linkArquivo">
            <p class="c-pointer fs-13 f-flex-f-direction-column align-items-center">
                <i class="bi bi-download" (click)="baixarArquivo(message.linkArquivo)"></i>

                <span>Arquivo {{message.msgSolicitante ? 'enviado' : 'recebido'}}</span>
            </p>
            <div class="message-time">{{message.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss '}}</div>
        </div>
        <p *ngIf="message.mensagem!null" class="id">{{message.remetente}}:</p>
        <div *ngIf="message.mensagem!null" class="message">
            <div class="fs-13" [innerHTML]="message.mensagem"></div>
            <div class="message-time">{{message.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss '}}</div>
        </div>
    </div>
    <div class="text-center" *ngIf="!history">
        <i>Nenhuma mensagem</i>
    </div>

</div>

