<div class="container text-left">
    <form [formGroup]="form">
        <div class="form-group w-50">
            <label for="identificacao">Identificação *</label>
            <select required formControlName="identificacao" class="form-control">
                <option value="1">Comprador</option>
                <option value="2">Vendedor</option>
                <option value="3">Construtora</option>
                <option value="4">Advogado</option>
                <option value="5">Corretor</option>
                <option value="6">Outros</option>
            </select>
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-group w-100 mr">
                <label for="nomeSolicitante">Nome *</label>
                <input required type="text" class="form-control" formControlName="nomeSolicitante"
                    placeholder="Digite seu nome" [ngClass]="{
                          'invalid-form-field':
                            form.controls.nomeSolicitante?.invalid && form.controls.nomeSolicitante?.touched
                        }">
            </div>
            <div class="form-group w-100">
                <label for="emailSolicitante">E-mail *</label>
                <input required type="email" class="form-control" formControlName="emailSolicitante"
                    on-focusout="validation.validacaoEmail(form.value.emailSolicitante, form)"
                    aria-describedby="emailHelp" placeholder="Digite seu e-mail" [ngClass]="{
                              'invalid-form-field':
                                form.controls.emailSolicitante?.invalid && form.controls.emailSolicitante?.touched
                            }">
                <small style="color: red"> {{ errors.email.message }} </small>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-group w-100 mr">
                <label for="telefoneSolicitante">Telefone *</label>
                <input required type="text" [ngClass]="{
                'invalid-form-field':
                  form.controls.telefoneSolicitante.invalid && form.controls.telefoneSolicitante.touched
              }" placeholder="Digite seu telefone" class="form-control"
                    on-focusout="validation.phoneNumberIsReal(form?.value?.telefoneSolicitante, form)"
                    formControlName="telefoneSolicitante" mask="(00) 0000-0000||(00) 00000-0000">
                <small style="color: red"> {{ errors.phone.message }} </small>
            </div>
        </div>
        <div class="form-group">
            <label for="mensagem">Mensagem *</label>
            <textarea required class="form-control" formControlName="mensagem" rows="5" [ngClass]="{
                      'invalid-form-field':
                        form.controls.mensagem.invalid && form.controls.mensagem.touched
                    }"></textarea>
        </div>

    </form>
   <!--  <div class="d-flex justify-content-center">
        <button *ngIf="step > 0" class="btn btn-primary mr-4" (click)="previous()">Voltar</button>
        <button class="btn btn-primary" (click)="next()">Avançar</button>
    </div> -->
</div>