<div class="modal-header align-items-center">
  <h6 class="modal-title">Aprovação de documentos</h6>
  <button type="button" (click)="activeModal.dismiss('Cross click')" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="message">
  <p class="mb-0">Deseja realmente {{aprovation == false ? 'Reprovar' : 'Aprovar'}} documento </p>
  <p><strong class="ml-1"><span [innerHTML]="doc.descricao"></span></strong></p>
</div>

<div *ngIf="aprovation == false" class="form-group p-0">
  <label>Descrição do motivo de reprovação</label>
  <div class="flex-column">
    <textarea type="text" maxlength="3000" class="form-control" name="motivo" id="motivo" maxlength="3000"
      placeholder="Digite o motivo de reprovação" cols="3" [(ngModel)]="motivo"></textarea>
    <div class="d-flex justify-content-end">
      <small>{{motivo.length}}/3000</small>
    </div>
  </div>
</div>

<div class="modal-footer justify-content-center" style="padding-top: 0;">
  <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn btn-primary documento mt-3">
    Cancelar
  </button>
  <button (click)="submit(aprovation)" type="button" class="btn btn-primary documento mt-3">
    Confirmar
  </button>
</div>
