.content {
    margin: 4rem;
    position: relative;
}

.w-30 {
    width: 30%;
}

label {
    margin-top: 2rem;
}

.form-check-label{
  margin-top: 0 !important;
}

.mt-2rem {
    margin-top: 2rem;
}

.mb-2rem {
    margin-bottom: 2rem;
}

input,
textarea,
select {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 8px;
    outline: none;
}

input[type="text"],
select {
    height: 40px;
}

textarea {
    height: 88px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    font-family: "Inter", sans-serif !important;
}

.button-include {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #1242ad 0%, #388af2 100%);
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 48px;
}

.button-next {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #1242ad 0%, #388af2 100%);
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 48px;
    position: absolute;
    right: 0;
}

.button-back {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #535353 0%, #c4c4c4 100%);
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 48px;
    position: absolute;
    left: 0;
}

.obs {
    width: 100%;
    background: rgba(254, 193, 36, 0.19);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

img {
    margin-right: 0.5rem;
}

.obrigatorios {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

th {
    height: 48px;
    background: #f2f2f2;
    padding: 0.75rem;
}

td {
    padding: 0.5rem;
}

.border-total {
    border-bottom: 0.5px solid #f2f2f2;
    border-top: 0.5px solid #f2f2f2;
}

h1 {
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.invalid {
    color: red;
    position: absolute;
    bottom: -25px;
    left: 5px;
}

.invalid-border {
    border: 1px solid red;
}

$file-control: #a0a0a0;
$height: 80px;

.file-content {
    position: relative;
    border: 1px dashed $file-control;
    height: $height;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    color: $file-control;
    cursor: pointer;

    .file-control {
        height: $height;
        vertical-align: middle;
        text-align: center;
    }

    .form-control-file {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        appearance: none;
        height: $height;
        width: 100%;
        text-indent: -999em;
        outline: none;
    }
}
