<div class="content">
  <form [formGroup]="dados">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active">
      <li [ngbNavItem]="1">
        <ng-template ngbNavContent>
          <h1>Formulário de Registro de Imóveis</h1>
          <p>Selecione o tipo de certidão e a forma que deseja solicitar o registro para prosseguir.</p>
          <div class="d-flex flex-column w-100 position-relative">
            <label for="">Tipo Certidão</label>
            <select [ngClass]="{'invalid-border': tipoCertidao == '' && certidaoVazia}" name=""
              [(ngModel)]="tipoCertidao" [ngModelOptions]="{standalone: true}" id="" class="w-30">
              <option selected value="">Selecione</option>
              <option *ngFor="let tipoCertidao of tiposCertidao; index as i" value="{{ tipoCertidao.chave }}">{{
                tipoCertidao.descricao }}</option>
            </select>
            <span class="invalid" *ngIf="tipoCertidao == '' && certidaoVazia">O
              campo acima é obrigatório!</span>
          </div>

          <div class="d-flex flex-column form-group position-relative">
            <label for="">Informe o número de matrícula, transcrição, lote e quadra, ou outro documento no
              campo abaixo. *</label>
            <textarea [ngClass]="{'invalid-border': descricao == ''&& descricaoVazia}" [(ngModel)]="descricao"
              [ngModelOptions]="{standalone: true}" maxlength="3000"></textarea>
            <span class="invalid" *ngIf="descricao == '' && descricaoVazia">O
              campo acima é obrigatório!</span>
          </div>

          <div class="d-flex flex-column form-group position-relative">
            <label for="">Possui uma cópia do documento acima? </label>
            <div class="d-table w-100 file-content">
              <div class="d-table-cell file-control">
                <i class="bi bi-cloud-upload"></i>
                <ng-container *ngIf="arquivos.length == 0; else hasFilesTemplate">
                  <div>Clique ou arraste os arquivos aqui</div>
                </ng-container>
                <ng-template #hasFilesTemplate>
                  Você adicionou {{ arquivos.length }}
                  {{ arquivos.length === 1 ? "arquivo" : "arquivos" }}
                </ng-template>
              </div>
              <input type="file" id="anexo" name="anexo" class="form-control-file" multiple
                (change)="selecionarArquivo($event)" DraggableFile />
            </div>
          </div>

          <p class="obrigatorios">Os campos com (*) são de preenchimento obrigatório.</p>
          <button class="button-next" (click)="prosseguir()">Prosseguir</button>

        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <ng-template ngbNavContent>
          <h1>Formulário de Registro de Imóveis</h1>

          <p class="mt-2rem">Informe os dados do solicitante</p>
          <div class="d-flex justify-content-between align-items-center w-100 position-relative">
            <div class="d-flex flex-column w-50">
              <label for="">Nome completo *</label>
              <input
                [ngClass]="{'invalid-border': dados.get('nomeSolicitante').invalid && dados.get('nomeSolicitante').touched}"
                formControlName="nomeSolicitante" type="text" placeholder="Digite o nome completo">
              <span class="invalid"
                *ngIf="dados.get('nomeSolicitante').invalid && dados.get('nomeSolicitante').touched">O
                campo acima é obrigatório!</span>
            </div>
            <div class="d-flex flex-column w-50 ml-4 position-relative">
              <label for="">E-mail *</label>
              <input
                [ngClass]="{'invalid-border': dados.get('emailSolicitante').invalid && dados.get('emailSolicitante').touched}"
                (focusout)="validarEmail(dados.get('emailSolicitante').value)" formControlName="emailSolicitante"
                type="text" placeholder="Digite o e-mail">
              <span class="invalid"
                *ngIf="validarEmail(dados.get('emailSolicitante').value) == false && dados.get('emailSolicitante').touched">E-mail
                inválido!</span>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column w-50 position-relative">
              <label for="">Telefone *</label>
              <input
                [ngClass]="{'invalid-border': dados.get('telefoneSolicitante').touched && dados.get('telefoneSolicitante').invalid}"
                formControlName="telefoneSolicitante" type="text" placeholder="Digite o telefone"
                mask="(00) 0000-0000||(00) 0 0000-0000">
              <span
                *ngIf="dados.get('telefoneSolicitante').touched && dados.get('telefoneSolicitante').invalid || validarTelefone() && dados.get('telefoneSolicitante').touched"
                class="invalid">Telefone inválido!</span>
            </div>
            <div class="d-flex flex-column w-50 ml-4 position-relative">
              <label for="">CPF/CNPJ *</label>
              <input [ngClass]="{'invalid-border': dados.get('cpfCnpj').touched && dados.get('cpfCnpj').invalid}"
                formControlName="cpfCnpj" type="text" placeholder="Digite o CPF ou CNPJ"
                mask="000.000.000-00||00.000.000/0000-00">
              <span
                *ngIf="dados.get('cpfCnpj').touched && dados.get('cpfCnpj').invalid || validarCpfCnpj() && dados.get('cpfCnpj').touched "
                class="invalid">CPF ou CNPJ inválido!</span>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column w-100 position-relative">
              <label for="">Mensagem *</label>
              <textarea [ngClass]="{'invalid-border': dados.get('mensagem').invalid && dados.get('mensagem').touched}"
                formControlName="mensagem" name="" id="" cols="30" rows="10"></textarea>
              <span class="invalid" *ngIf="dados.get('mensagem').invalid && dados.get('mensagem').touched">O
                campo acima é obrigatório!</span>
            </div>
          </div>

          <p class="obrigatorios">Os campos com (*) são de preenchimento obrigatório.</p>
          <button class="button-next" (click)="prosseguir()">Prosseguir</button>
          <button class="button-back" (click)="active = 1">Voltar</button>

        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <ng-template ngbNavContent>
          <h1>Formulário de Registro de Imóveis</h1>
          <p class="mt-2rem">Informe o endereço do solicitante.</p>
          <div class="d-flex justify-content-between align-items-center w-100 ">
            <div class="d-flex flex-column w-50 position-relative">
              <label for="">CEP *</label>
              <input (keyup)="carregarEndereco(1)"
                [ngClass]="{'invalid-border': dados.get('cep').touched && dados.get('cep').invalid}"
                formControlName="cep" type="text" placeholder="Digite o CEP" mask="00000-000">
              <span *ngIf="dados.get('cep').touched && dados.get('cep').invalid" class="invalid">O campo
                acima é obrigatório!</span>
            </div>
            <div class="d-flex flex-column w-50 ml-4 position-relative">
              <label for="">Logradouro *</label>
              <input [ngClass]="{'invalid-border': dados.get('logradouro').touched && dados.get('logradouro').invalid}"
                formControlName="logradouro" type="text" placeholder="Digite o nome da rua, avenida, alameda...">
              <span *ngIf="dados.get('logradouro').touched && dados.get('logradouro').invalid" class="invalid">O campo
                acima é obrigatório!</span>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column w-50 position-relative position-relative">
              <label for="">Número *</label>
              <input [ngClass]="{'invalid-border': dados.get('numero').touched && dados.get('numero').invalid}"
                formControlName="numero" type="text" placeholder="Digite o número">
              <span *ngIf="dados.get('numero').touched && dados.get('numero').invalid" class="invalid">O
                campo acima é obrigatório!</span>
            </div>
            <div class="d-flex flex-column w-50 ml-4">
              <label for="">Complemento</label>
              <input formControlName="complemento" type="text" placeholder="Digite o número do bloco/torre, etc.">
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center w-100">

            <div class="d-flex flex-column w-50  position-relative">
              <label for="">Estado *</label>
              <select (change)="carregarCidades(1)"
                [ngClass]="{'invalid-border': dados.get('estado').touched && dados.get('estado').invalid}" name=""
                formControlName="estado" id="" class="">
                <option selected value="">Selecione</option>
                <option *ngFor="let estado of estados" value="{{ estado }}">{{ estado }}</option>
              </select>
              <span *ngIf="dados.get('estado').touched && dados.get('estado').invalid" class="invalid">O
                campo acima é obrigatório!</span>
            </div>

            <div class="d-flex flex-column w-50 ml-4 position-relative">
              <label for="">Cidade *</label>
              <select [ngClass]="{'invalid-border': dados.get('cidade').touched && dados.get('cidade').invalid}" name=""
                formControlName="cidade" id="" class="">
                <option value="">Selecione</option>
                <option *ngFor="let municipio of municipios" value="{{ municipio }}">{{ municipio }}
                </option>

              </select>
              <span *ngIf="dados.get('cidade').touched && dados.get('cidade').invalid" class="invalid">O
                campo acima é obrigatório!</span>
            </div>
          </div>

          <p class="obrigatorios">Os campos com (*) são de preenchimento obrigatório.</p>
          <button class="button-next" (click)="prosseguir()">Prosseguir</button>
          <button class="button-back" (click)="active = 2">Voltar</button>

        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <ng-template ngbNavContent>
          <h1>Formulário de Registro de Imóveis</h1>
          <p>Selecione a forma de entrega.</p>


          <div class="d-flex align-items-center">
            <div class="form-check">
              <input (change)="formaEntrega(1)" class="form-check-input" type="radio" name="formaEntrega"
                id="flexRadioDefault1" [checked]="formaDeEntrega == 1">
              <label class="form-check-label mt-0 mr-2" for="flexRadioDefault1">
                Retirar no cartório </label>
            </div>
            <div class="form-check">
              <input (change)="formaEntrega(2)" class="form-check-input" type="radio" name="formaEntrega"
                id="flexRadioDefault2" [checked]="formaDeEntrega == 2">
              <label class="form-check-label m-0" for="flexRadioDefault2">
                Entregar no endereço </label>
            </div>

          </div>

          <div *ngIf="formaDeEntrega == 2">
            <p class="mt-2rem">O endereço de entrega é o mesmo do solicitante? *</p>
            <div class="d-flex align-items-center position-relative">
              <div class="form-check">
                <input (change)="enderecoEntrega(1)" class="form-check-input" type="radio" name="enderecoEntrega"
                  id="enderecoEntrega1" [checked]="enderecoDeEntrega == 1">
                <label class="form-check-label mt-0 mr-2" for="enderecoEntrega1">
                  Sim </label>
              </div>
              <div class="form-check">
                <input (change)="enderecoEntrega(2)" class="form-check-input" type="radio" name="enderecoEntrega"
                  id="enderecoEntrega2" [checked]="enderecoDeEntrega == 2">
                <label class="form-check-label m-0" for="enderecoEntrega2">
                  Não</label>
              </div>
            </div>
          </div>


          <div *ngIf="enderecoDeEntrega == 2 && formaDeEntrega == 2">
            <p class="mt-2rem">Informe o endereço de entrega.</p>
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex flex-column w-50 position-relative">
                <label for="">CEP *</label>
                <input (keyup)="carregarEndereco(2)"
                  [ngClass]="{'invalid-border': dados.get('cepEntrega').touched && dados.get('cepEntrega').invalid}"
                  formControlName="cepEntrega" type="text" placeholder="Digite o CEP" mask="00.000-000">
                <span *ngIf="dados.get('cepEntrega').touched && dados.get('cepEntrega').invalid" class="invalid">O campo
                  acima é obrigatório!</span>
              </div>
              <div class="d-flex flex-column w-50 ml-4 position-relative">
                <label for="">Logradouro *</label>
                <input
                  [ngClass]="{'invalid-border': dados.get('logradouroEntrega').touched && dados.get('logradouroEntrega').invalid}"
                  formControlName="logradouroEntrega" type="text"
                  placeholder="Digite o nome da rua, avenida, alameda...">
                <span *ngIf="dados.get('logradouroEntrega').touched && dados.get('logradouroEntrega').invalid"
                  class="invalid">O campo acima é obrigatório!</span>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex flex-column w-50 posiiton-relative">
                <label for="">Número *</label>
                <input
                  [ngClass]="{'invalid-border': dados.get('numeroEntrega').touched && dados.get('numeroEntrega').invalid}"
                  formControlName="numeroEntrega" type="text" placeholder="Digite o número">
                <span *ngIf="dados.get('numeroEntrega').touched && dados.get('numeroEntrega').invalid" class="invalid">O
                  campo acima é obrigatório!</span>
              </div>
              <div class="d-flex flex-column w-50 ml-4">
                <label for="">Complemento</label>
                <input formControlName="complementoEntrega" type="text"
                  placeholder="Digite o número do bloco/torre, etc.">
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex flex-column w-50 position-relative">
                <label for="">Estado *</label>
                <select (change)="carregarCidades(2)"
                  [ngClass]="{'invalid-border': dados.get('estadoEntrega').touched && dados.get('estadoEntrega').invalid}"
                  name="" formControlName="estadoEntrega" placeholder="Selecione o Estado" id="" class="">
                  <option selected value="">Selecione</option>
                  <option *ngFor="let estado of estados" value="{{ estado }}">{{ estado }}</option>

                </select>
                <span *ngIf="dados.get('estadoEntrega').touched && dados.get('estadoEntrega').invalid" class="invalid">O
                  campo acima é obrigatório!</span>
              </div>
              <div class="d-flex flex-column w-50 ml-4 position-relative">
                <label for="">Cidade *</label>
                <select
                  [ngClass]="{'invalid-border': dados.get('cidadeEntrega').touched && dados.get('cidadeEntrega').invalid}"
                  name="" formControlName="cidadeEntrega" placeholder="Selecione a cidade" id="" class="">
                  <option selected value="">Selecione</option>
                  <option *ngFor="let municipio of municipios" value="{{ municipio }}">{{ municipio }}
                  </option>
                </select>
                <span *ngIf="dados.get('cidadeEntrega').touched && dados.get('cidadeEntrega').invalid" class="invalid">O
                  campo acima é obrigatório!</span>
              </div>

            </div>
          </div>

          <div *ngIf="formaDeEntrega == 2">
            <p class="mt-2rem">A entrega será realizada por Correio ou Delivery? *</p>
            <div *ngIf="correioDeDelivery == 2" class="d-flex align-items-center obs"><img
                src="../../../assets/images/info.svg" alt="">
              A entrega por Delivery está disponível somente para Barra do Garças, Aragarças e Pontal do
              Araguaia
            </div>
            <div class="d-flex align-items-center position-relative">
              <div class="form-check">
                <input (change)="correioDelivery(1)" class="form-check-input" type="radio" name="correioDelivery"
                  id="correioDelivery1" [checked]="correioDeDelivery == 1">
                <label class="form-check-label mt-0 mr-2" for="correioDelivery1">
                  Correio </label>
              </div>
              <div class="form-check">
                <input (change)="correioDelivery(2)" class="form-check-input" type="radio" name="correioDelivery"
                  id="correioDelivery2" [checked]="correioDeDelivery == 2">
                <label class="form-check-label m-0" for="correioDelivery2">
                  Delivery</label>
              </div>
            </div>
          </div>



          <div *ngIf="correioDeDelivery == 2 && formaDeEntrega == 2">
            <p class="mt-2rem">Selecione a área de entrega *</p>
            <div class="d-flex align-items-center position-relative">
              <div class="form-check">
                <input (change)="areaEntrega(1)" class="form-check-input" type="radio" name="area" id="area1"
                  [checked]="area == 1">
                <label class="form-check-label mt-0 mr-2" for="area1">
                  Urbana </label>
              </div>
              <!--  <div class="form-check">
                                <input (change)="areaEntrega(2)" class="form-check-input" type="radio" name="area"
                                    id="area2" [checked]="area == 2">
                                <label class="form-check-label m-0" for="area2">
                                    Rural</label>
                            </div> -->

            </div>
          </div>


          <p class="obrigatorios">Os campos com (*) são de preenchimento obrigatório.</p>
          <button class="button-next" (click)="prosseguir()">Prosseguir</button>
          <button class="button-back" (click)="active = 3">Voltar</button>

        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <ng-template ngbNavContent>
          <h1>Formulário de Registro de Imóveis</h1>
          <p>Confira se o pedido está correto para concluir a sua solicitação </p>
          <div class="mt-2rem mb-2rem mr-0 d-flex justify-content-end"><button (click)="adicionarMais()"
              class="button-include"> Incluir
              mais certidões</button></div>
          <table formArrayName="certidoes" class="w-100 ">
            <th>Tipo de Certidão</th>
            <th>Tipo do Pedido</th>
            <th>Prazo</th>
            <th> Valor </th>

            <th *ngIf="certidoes.length > 1" class="text-center">Excluir</th>
            <tr *ngFor="let certidao of certidoes.controls; index as i">
              <td *ngIf="certidao.tipoCertidao">{{ traducaoCertidao[certidao.get('tipoCertidao').value].descricao }}</td>
              <td>
                <div style="width: 250px !important;" class="text-truncate">
                  {{ certidao.get('descricao').value }}
                </div>
              </td>
              <td>5 dias úteis</td>
              <td>{{valoresCertidao[certidao.get('tipoCertidao').value]?.valor || 0 | currency: 'BRL'}}
              </td>
              <td *ngIf="certidoes.length > 1" (click)="excluirCertidao(i)"
                class="d-flex align-items-center justify-content-center c-p"><img class="m-0"
                  src="../../../assets/images/exclude.svg" alt=""></td>
            </tr>
            <tr class="border-total" *ngIf="formaDeEntrega === 2">
              <td>{{translateFreight()}}</td>
              <td></td>
              <td></td>
              <td>{{frete | currency: 'BRL': true}}</td>
              <td *ngIf="certidoes.length > 1"></td>
            </tr>
            <tr class="border-total">
              <td>Total</td>
              <td></td>
              <td></td>
              <td>{{somarValoresCertidao() | currency: 'BRL': true}}</td>
              <td *ngIf="certidoes.length > 1"></td>
            </tr>

          </table>

          <div *ngIf="optInOption && optIn" class="mt-2rem">
            <div class="form-check">
              <input class="form-check-input" name="compartilharInfo" type="checkbox" value="" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="politicaUso" [checked]="politicaUso" />
              <label class="form-check-label" for="flexCheckDefault">
                {{optIn.descricao}}  <span><a [href]="optIn.politicasUso" target="_blank">Pólitica de uso</a></span> *
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" name="compartilharInfo" type="checkbox" value="" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="politicaPrivacidade" [checked]="politicaPrivacidade" />
              <label class="form-check-label" for="flexCheckDefault">
                {{optIn.descricao}}  <span><a target="_blank" [href]="optIn.politicasPrivacidade">Pólitica de privacidade</a></span> *
              </label>
            </div>
          </div>
          <button (click)="prosseguir()" class="button-next mt-2rem">Concluir</button>
          <button class="button-back mt-2rem" (click)="active = 4">Voltar</button>


        </ng-template>
      </li>
    </ul>
  </form>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>
