<div class="content">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="address">
                <mat-icon>done</mat-icon>
                <h1 *ngIf="codigo">Solicitação {{codigo}} enviada com sucesso!</h1>
                <p>Foi encaminhado um email com os detalhes da sua solicitação informando os próximos passos. </p>
                <p class="color-red">*Não se esqueça de verificar sua caixa de SPAM e Lixo Eletrônico.</p>
                <div *ngIf="tipoEscritura === 'ESCRITURA_DOACAO' || tipoEscritura === 'ESCRITURA_COMPRA_VENDA'">
                    <h3>Gostaria de agilizar o processo complementando as informações dessa solicitação?</h3>

                    <p>Basta clicar no botão abaixo para finalizar as informações!</p>
                    <button class="btn btn-primary" (click)="sendHome()" mat-raised-button color="primary">
                        Complementar Informações
                    </button>
                </div>
                <!--  <div style="margin-top: 30px;" *ngIf="codigo">
                    <p><strong>Código da solicitação: </strong> {{codigo}}</p>
                    <p><strong>Data da solicitação:</strong>
                        {{ date }}
                    </p>
                </div> -->
            </div>
        </mat-card-content>
    </mat-card>
    <!--   <div class="action" style="display: flex; justify-content: space-between;">
        <button class="item" (click)="redirect()" mat-raised-button color="primary">Consultar solicitação
        </button>
        <button class="item" (click)="sendHome()" mat-raised-button color="primary">Nova solicitação
        </button>
    </div> -->
</div>