.content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    .action {
        display: flex;
        .item {
            margin-top: 5px;
            height: 50px;
            width: 200px;
        }
    }
    .example-card {
        flex: 1;
        mat-card-content {
            text-align: center;
            .address {
                mat-icon {
                    font-size: 50px;
                    color: rgb(70, 184, 70);
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media (max-width: 1515px) {
    .content {
        margin: 200px 100px;
    }
}

@media (max-width: 1000px) {
    .content {
        margin: 100px;
    }
}

@media (max-width: 720px) {
    .content {
        margin: 100px 20px;
        .action {
            flex-direction: column;
            .item {
                width: 100% !important ;
            }
        }
    }
}

@media (max-width: 400px) {
    .content {
        font-size: 95%;
        .example-card {
            mat-card-content {
                button {
                    margin: 0 !important;
                    width: fit-content !important;
                }
            }
        }
    }
}
