.content{
  width: 100%;
  padding: 10px;
}

.form-group-cont {
  margin-bottom: 0;
}

@media (max-width: 700px) {
  .d-flex {
    flex-direction: column;
  }
  .justify-content-end{
    text-align: -webkit-right;
  }
}
