<div class="content">
  <!-- <h2>Fale conosco!</h2>  -->
  <h6 class="mt-4">Entre em contato conosco e em breve retornaremos.</h6>

  <p class="mt-4">Campos com (*) o preenchimento é obrigatório</p>

  <form [formGroup]=form>
    <div class="d-flex justify-content-center">
      <div class="form-group w-100 mr">
        <label for="assunto">Assunto *</label>
        <select required formControlName="assunto" class="form-select" [ngClass]="{ 'invalid-form-field': form.controls.assunto.invalid
        && form.controls.assunto.touched }">
          <option selected value="">Selecione</option>
          <option *ngFor="let tipo of types" value="{{tipo.chaveAssunto}}">{{tipo.descricaoAssunto}}</option>
        </select>
      </div>
      <div class="form-group w-100 ">
        <label for="nomeSolicitante">{{this.form.controls.assunto.value == "RECLAMACAO" || this.form.controls.assunto.value =="DENUNCIA" || this.form.controls.assunto.value =="OUVIDORIA" ? 'Nome' : 'Nome *'}}</label>
        <input required type="text" class="form-control" formControlName="nome" placeholder="Digite seu nome" [ngClass]="{
                  'invalid-form-field':
                    form.controls.nome.invalid && form.controls.nome.touched
                  }">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="form-group w-100 mr">
        <label for="email">{{this.form.controls.assunto.value == "RECLAMACAO" || this.form.controls.assunto.value =="DENUNCIA" || this.form.controls.assunto.value =="OUVIDORIA" ? 'E-mail' : 'E-mail *'}}</label>
        <input required type="email" class="form-control" formControlName="email" aria-describedby="emailHelp"
          on-focusout="validacaoEmail(form.value.email)"
          placeholder="Digite seu e-mail"
          [ngClass]="{'invalid-form-field':form.controls.email.invalid && form.controls.email.touched}">
          <small style="color: red"> {{ error.email.message }} </small>
      </div>
      <div class="form-group w-100">
        <label for="telefone">{{this.form.controls.assunto.value == "RECLAMACAO" || this.form.controls.assunto.value =="DENUNCIA" || this.form.controls.assunto.value =="OUVIDORIA" ? 'Telefone' : 'Telefone *'}}</label>
        <input required type="text" class="form-control" formControlName="telefone" placeholder="Digite seu telefone"
          on-focusout="phoneNumberIsReal(form.value.telefone)" mask="(00) 0000-0000||(00) 00000-0000"
          [ngClass]="{'invalid-form-field':form.controls.telefone.invalid && form.controls.telefone.touched}">
          <small style="color: red"> {{ error.phone.message }} </small>
      </div>


    </div>
    <div class="form-group-cont">
      <label for="msg">Mensagem *</label>
      <textarea required class="form-control" formControlName="msg" rows="5" [ngClass]="{
            'invalid-form-field':
            form.controls.msg.invalid && form.controls.msg.touched
          }" maxlength="3000" placeholder="Deixe aqui sua mensagem..."></textarea>
    </div>
    <div class="d-flex justify-content-end">
      <p>{{this.form.controls.msg.value?.length == "" ? '0': this.form.controls.msg.value?.length}}/3000</p>
    </div>
    <app-documentos [files]="files" [filesShow]="filesShow" (emitirCodigo)="atualizarValor($event)"></app-documentos>
    <div class="d-flex justify-content-end">
      <button class="mt-4 btn btn-primary w-100" (click)="submit()">Enviar</button>
    </div>

  </form>
</div>
