<div class="content">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="address">
                <mat-icon>done</mat-icon>
                <h1>Solicitação atualizada com sucesso!</h1>
                <p>Foi encaminhado um email com os detalhes da sua solicitação informando os próximos passos. </p>
                <p class="color-red">*Não se esqueça de verificar sua caixa de SPAM e Lixo Eletrônico.</p>
                <div style="margin-top: 30px;">
                    <p><strong>Código da solicitação: </strong> {{data.codigoSimples}}</p>
                    <p><strong>Data da solicitação:</strong>
                        {{ date }}
                    </p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="action" style="display: flex; justify-content: space-between;">
        <button class="item" (click)="redirect()" mat-raised-button color="primary">Consultar solicitação
        </button>
        <button class="item" (click)="sendHome()" mat-raised-button color="primary">Nova solicitação
        </button>
    </div>
</div>
