<div class="container text-left" *ngIf="concerned">
    <span>{{concernedType}} - {{index + 1}}</span>
    <div class="row">
        <div class="form-group col-6">
            <label for="tipoPessoa">Pessoa</label>
            <select [(ngModel)]="concerned.tipoPessoa" name="tipoPessoa" required #tipoPessoa="ngModel"
                class="form-control">
                <option value="PESSOA-FISICA">Física</option>
                <option value="PESSOA-JURIDICA">Jurídica</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="nome">Nome completo</label>
            <input required type="text" class="form-control" name="nome" [(ngModel)]="concerned.nome" #nome="ngModel"
                placeholder="Digite seu nome">
        </div>
    </div>
    <div class="row2">
        <div class="col-12">

            <div class="form-check">
                <input mdbCheckbox class="form-check-input" name="compartilharInfo" type="checkbox"
                    [(ngModel)]="concerned.compartilharInfo" id="compartilharInfo" />
                <label class="form-check-label" for="compartilharInfo">
                    Compartilhar informações sobre o andamento da solicitação?
                </label>
            </div>
        </div>
    </div>
    <div *ngIf="concerned.compartilharInfo" class="row mt-2">
        <div class="form-group col-6">
            <label for="telefone">Telefone</label>
            <input required type="telefone" class="form-control" name="telefone" [(ngModel)]="concerned.telefone"
                #telefone="ngModel" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
            <small style="color: red"> {{ errors.email.message }} </small>
        </div>
        <div class="form-group col-6">
            <label for="email">E-mail</label>
            <input required type="email" class="form-control" name="email" [(ngModel)]="concerned.email"
                #email="ngModel" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
            <small style="color: red"> {{ errors.email.message }} </small>
        </div>
    </div>

</div>