<i>Questões</i>

<div *ngFor="let questao of questoes; let i = index" class="mt-20">
    <mat-label>{{questao.descricao}}</mat-label>
    <div *ngIf="questao.tipo === 1" class="example-full-width mt-10 flex-column">
        <mat-radio-group (change)="checkQuestion($event, questao)" aria-label="Selecione uma opção">
            <mat-radio-button value="SIM" style="margin-right: 10px;">Sim</mat-radio-button>
            <mat-radio-button value="NAO">Não</mat-radio-button>
        </mat-radio-group>
    </div>
    <div *ngIf="questao.tipo === 2" class="example-full-width mt-10 flex-column">
        <input type="text" (keyup)="updateValue()" [(ngModel)]="questoes[i].resposta">
    </div>
</div>