<ng-container *ngIf="showContainer == false; else notTable">
  <h4 class="fw-bold mt-4">Dados do solicitante</h4>
  <div class="card shadow-box-custom">
    <div class="table-responsive">
      <table class="table">
        <th> Data da solicitação</th>
        <th>Nome completo</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Status</th>
        <tr>
          <td>{{infoSolicitation.dataCriacao | date: 'dd/MM/yyyy'}}</td>
          <td>{{solicitor.nomeSolicitante}}</td>
          <td>{{solicitor.telefoneSolicitante | mask: '(00) 0000-0000'||'(00) 00000-0000'}}</td>
          <td>{{solicitor.emailSolicitante}}</td>
          <td>{{infoSolicitation.status}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="infoSolicitation.mensagem">
      <hr> Mensagem: {{infoSolicitation.mensagem}}
    </div>
  </div>

</ng-container>

<ng-template #notTable>
  <div class="card shadow-box-custom">
    <h5 class="fw-bold">Dados do solicitante</h5>
    <hr>
    <div class="info">
      <p class="mb-0"><strong>Data da solicitação</strong> </p>
      <p>{{infoSolicitation.dataCriacao | date: 'dd/MM/yyyy'}}</p>
      <p class="mb-0"><strong>Nome completo:</strong>
      </p>
      <p>{{solicitor.nomeSolicitante}}</p>
      <p class="mb-0"><strong>Telefone</strong>
      </p>
      <p>{{solicitor.telefoneSolicitante | mask: '(00) 0000-0000'||'(00) 00000-0000'}}</p>
      <p class="mb-0"> <strong>E-mail</strong>
      </p>
      <p>{{solicitor.emailSolicitante}}</p>
      <p class="mb-0"> <strong>Status</strong>
      </p>
      <p>
        {{infoSolicitation.status}}
      </p>
    </div>
    <div *ngIf="infoSolicitation.mensagem">
      <hr> Mensagem: {{infoSolicitation.mensagem}}
    </div>
  </div>
</ng-template>
