.card {
    padding: 24px;
}

th {
    font-weight: 300;
    font-weight: bold;
}

table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none
}

strong {
    padding-right: 5px;
}

hr {
    opacity: 0.1;
    height: 0;
}