<div class="container p-4">
    <div class="header">
        <h3 class="text-center">Opcões de formulário</h3>
    </div>
    <div class="body">
        <div class="mt-4 text-center"> Deseja criar uma solicitação simples ou completa? </div>
        <div *ngIf="simpleSol" class="mt-4 mb-4">
            <form [formGroup]="simpleSolData">
                <div class="form-group">
                    <label for="exampleInputEmail1">Você é o:</label>
                    <select class="custom-select" formControlName="identificacao">
                        <option value="1">Comprador</option>
                        <option value="2">Vendedor</option>
                        <option value="3">Construtora</option>
                        <option value="4">Advogado</option>
                        <option value="5">Corretor</option>
                        <option value="6">Outros</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome do solicitante</label>
                    <input formControlName="nomeSolicitante" type="text" class="form-control"
                        aria-describedby="emailHelp" placeholder="Seu nome">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email do solicitante</label>
                    <input formControlName="emailSolicitante" type="text" class="form-control"
                        aria-describedby="emailHelp" placeholder="Seu e-email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Telefone</label>
                    <input formControlName="telefoneSolicitante" type="text" class="form-control"
                        aria-describedby="emailHelp" placeholder="Seu telefone">
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-between mt-4" *ngIf="!simpleSol">
            <button class="btn btn-primary" (click)="simpleSol = true">Simples</button>
            <button class="btn btn-primary" (click)="modal.close(false)">Completa</button>
        </div>
        <div class="d-flex justify-content-between mt-4" *ngIf="simpleSol">
            <button class="btn btn-primary" (click)="modal.close(false)">Completa</button>
            <button class="btn btn-primary" (click)="modal.close(simpleSolData)">Confirmar</button>
        </div>
    </div>
</div>