.w-60 {
    width: 60% !important;
}

.w-40 {
    width: 40% !important;
}

i {
    color: #393838;
    font: normal normal medium 18px/25px Avenir Next;
}

.ml-5 {
    margin-left: 5px !important;
}

.font-size-18 {
    font-size: 18px;
}

h1 {
    font-size: 29px;
    color: #393838;
}

p {
    font-size: 16px;
    margin-bottom: 3%;
}

.btn-primary {
    color: white;
    text-decoration: none;
    background-color: #7381a7;
    border-color: #7381a7;
}

a {
    color: #7381a7;
}

form {
    display: flex;
    flex-flow: column;
    padding: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

img {
    width: 60vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}