<div class="content d-flex ">
    <div class="w-40">


        <form [formGroup]="login">
            <div class="mb-5">
                <h2><strong>Logo</strong></h2>
            </div>

            <div>
                <h1>Faça seu login</h1>
                <div class=" mb-4 d-flex align-items-center">
                    <i> É o seu primeiro acesso? <a href="/cadastro">Clique aqui</a></i>
                </div>
            </div>
            <div class="form-group">
                <!-- <label>CPF/CNPJ ou e-mail</label> -->
                <input placeholder="E-mail ou login" type="text" class="form-control" formControlName="email"
                    required />
            </div>

            <div class="form-group">
                <!-- <label>Senha</label> -->
                <input type="password" class="form-control" formControlName="password" placeholder="Digite sua senha"
                    required />
            </div>

            <button class="btn btn-primary w-100" (click)="submit()">Entrar</button>

            <div class="d-flex justify-content-between mt-10">
                <div class="ml-1">
                    <div class="form-check">
                        <input class="form-check-input mr-3" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Lembrar de mim
                        </label>
                    </div>
                </div>
                <div>
                    <a href="/recuperar-senha">Esqueci minha senha</a>
                </div>
            </div>


        </form>


    </div>
    <div class=" w-60">
        <img src="../../../assets/images/Capturar.PNG" alt="">
    </div>



</div>