<div class="container">
    
   <!--  <div class="d-flex justify-content-center">
        <button *ngIf="step > 0" class="btn btn-primary mr-4" (click)="previous()">Voltar</button>
        <button class="btn btn-primary" (click)="next()">Avançar</button>
    </div> -->
</div>