<div class="content d-flex  ">
    <div class="w-40">
        <form [formGroup]="cadastro">
            <div class="mb-5">
                <h2><strong>Logo</strong></h2>
            </div>
            <div class="start">
                <h1>Faça seu cadastro</h1>
                <div class="d-flex">
                    <p>Preeencha os campos abaixo </p>
                </div>
            </div>

            <div class="form-group">
                <input formControlName="nome" placeholder="Nome" type="text" class="form-control" required />
            </div>

            <div class="form-group">
                <input placeholder="E-mail" type="text" class="form-control" formControlName="email" required />
            </div>

            <div class="form-group">
                <input placeholder="Login" type="text" class="form-control" formControlName="usuarioLogin" required />
            </div>

            <!--  <div class="form-group">
                <input type="text" class="form-control" placeholder="Digite seu CPF ou CNPJ"
                    formControlName="cpfCnpj" />
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" type="password"
                        id="senha" class="form-control" placeholder="Senha" required formControlName="senha">
                    <small style="color: red;"
                        *ngIf="cadastro.controls.senha.invalid && cadastro.controls.senha.touched">
                        A senha deve ter: <br>
                        - Pelo menos oito caracteres, <br>
                        - Pelo menos uma letra, <br>
                        - Pelo menos um número e um carácter especial</small>
                </div>
            </div> -->
            <div class="buttons ">
                <button (click)="validar()" class="btn btn-primary w-100">Cadastrar</button>
            </div>

        </form>


    </div>
    <div class="w-60">
        <img src="../../../assets/images/Capturar.PNG" alt="">
    </div>



</div>