<!-- Dados do solicitante -->
<app-solicitor-data [solicitor]="solicitor" [infoSolicitation]="infoSolicitation"></app-solicitor-data>
<!-- Dados dos envolvidos -->
<app-concerneds [concerneds]="concerneds" [doadores]="doadores" [beneficiarios]="beneficiarios"
[bens]="bens" [compradores]="compradores" [vendedores]="vendedores">
</app-concerneds>
<!-- Dados de pendências -->
<app-pendencias *ngIf="pendencias?.length > 0" [pendencias]="pendencias" [infoSolicitation]="infoSolicitation"
    (refresh)=updateData($event)></app-pendencias>

<app-documentos *ngIf="arquivos?.length > 0" [arquivos]="arquivos" [infoSolicitation]="infoSolicitation"
      (refresh)=updateData($event)></app-documentos>
<!-- Chat -->

<div class="accordion chat" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" [ngClass]="{'collapsed': !collapsed}" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseChat" [attr.aria-expanded]="!collapsed"
                aria-controls="collapseChat">
                Mensagens
            </button>
        </h2>
        <div >
            <div class="accordion-body" id="collapseChat" class="accordion-collapse" [ngClass]="{'show': !collapsed, 'collapse': collapsed}"
            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <app-chat [chat]="chat" [collapsed]="collapsed" [infoSolicitation]="infoSolicitation"></app-chat>
            </div>
        </div>
    </div>
</div>
<br><br><br>
