.chat {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 10%;
  min-width: 600px;
    .accordion-item {
        .accordion-header {
            button {
                background-color: #4445e6;
                color: white;
            }
        }
        .accordion-collapse {
            padding: 0px 20px 0px 20px;
        }
    }
}

hr {
    opacity: 0.1;
    height: 0;
}


@media (max-width: 705px) {
    .accordion-item {
        margin-left: 200px;
    }
}

@media (max-width: 500px) {
  .accordion-collapse {
    height: calc(100vh - 50px);
  }
  .chat {
    min-width: 100%;
    right: 0;
  }
    .accordion-item {
        margin-left: 0px;
    }
}
