<nav class="navbar navbar-light nav-bar-container" *ngIf="menu">
  <div class="d-flex justify-content-center logo-tamanho">
    <img [src]="urlLogo" alt="">
  </div>
</nav>
<div class="content">

  <!-- <h2>Vamos Simplificar! Solicite seu serviço</h2>  -->

  <p class="mt-4">Campos com (*) o preenchimento é obrigatório</p>

  <form [formGroup]=form>
    <div class="d-flex justify-content-center">
      <div class="form-group w-100 mr">
        <label for="tipoEscritura">Tipo *</label>
        <select required formControlName="tipoEscritura" (change)="changetipoEscritura()" class="form-select" data-size="10" [ngClass]="{
                    'invalid-form-field':
                      form.controls.tipoEscritura.invalid && form.controls.tipoEscritura.touched
                  }">
          <option [value]="null" disabled>Selecione</option>
          <option *ngFor="let tipo of types" value="{{tipo.chave}}">{{tipo.descricao}}</option>
        </select>
      </div>
      <div class="form-group w-100 mr">
        <label for="nomeSolicitante">{{form.controls.tipoEscritura.value == "FALE_CONOSCO_RECLAMACAO" ||
          form.controls.tipoEscritura.value =="FALE_CONOSCO_DENUNCIA" || form.controls.tipoEscritura.value
          =="FALE_CONOSCO_OUVIDORIA" ? 'Nome' : 'Nome *'}}</label>
        <input id="nomeSolicitante" type="text" class="form-control" formControlName="nomeSolicitante"
          placeholder="Digite seu nome" [ngClass]="{
                    'invalid-form-field':
                      form.controls.nomeSolicitante.invalid && form.controls.nomeSolicitante.touched
                  }">
      </div>

    </div>
    <div class="d-flex justify-content-center">
      <div class="form-group w-100 mr">
        <label for="telefoneSolicitante">{{form.controls.tipoEscritura.value == "FALE_CONOSCO_RECLAMACAO" ||
          form.controls.tipoEscritura.value =="FALE_CONOSCO_DENUNCIA" || form.controls.tipoEscritura.value
          =="FALE_CONOSCO_OUVIDORIA" ? 'Telefone' : 'Telefone *'}}</label>
        <input id="telefoneSolicitante" type="text" [ngClass]="{
          'invalid-form-field':
            form.controls.telefoneSolicitante.invalid && form.controls.telefoneSolicitante.touched
        }" placeholder="Digite seu telefone" class="form-control"
          on-focusout="phoneNumberIsReal(form?.value?.telefoneSolicitante)" formControlName="telefoneSolicitante"
          mask="(00) 0000-0000||(00) 00000-0000">
        <small style="color: red"> {{ error.phone.message }} </small>
      </div>
      <div class="form-group w-100">
        <label for="emailSolicitante">{{form.controls.tipoEscritura.value == "FALE_CONOSCO_RECLAMACAO" ||
          form.controls.tipoEscritura.value =="FALE_CONOSCO_DENUNCIA" || form.controls.tipoEscritura.value
          =="FALE_CONOSCO_OUVIDORIA" ? 'E-mail' : 'E-mail *'}}</label>
        <input id="emailSolicitante" type="email" class="form-control" formControlName="emailSolicitante"
          on-focusout="validacaoEmail(form.value.emailSolicitante)" aria-describedby="emailHelp"
          placeholder="Digite seu e-mail" [ngClass]="{
                        'invalid-form-field':
                          form.controls.emailSolicitante.invalid && form.controls.emailSolicitante.touched
                      }">
        <small style="color: red"> {{ error.email.message }} </small>
      </div>
    </div>
    <div class="form-group">
      <label for="mensagem">Mensagem *</label>
      <textarea maxlength="3000" required class="form-control" formControlName="mensagem" rows="5" [ngClass]="{
                'invalid-form-field':
                  form.controls.mensagem.invalid && form.controls.mensagem.touched
              }"></textarea>
      <div class="d-flex justify-content-end">
        <p>{{this.form.controls.mensagem.value?.length == "" ? '0': this.form.controls.mensagem.value?.length}}/3000</p>
      </div>
    </div>

    <!-- <div class="form-group">
      <label class="mb-2">Já é atendido por algum escrevente ou tem preferência por algum?</label>
      <div class="form-check" style="margin-right: 20px !important;">
        <input (change)="optionsResponsible(true)"class="form-check-input" type="radio" name="flexRadioDefault">
        <label class="form-check-label" for="flexRadioDefault1">
          Sim
        </label>
      </div>
      <div class="form-check">
        <input (change)="optionsResponsible(false)" class="form-check-input" type="radio" name="flexRadioDefault">
        <label class="form-check-label">
          Não
        </label>
      </div>
    </div> -->

    <ng-container *ngIf="this.optionResponsible == true">
      <div class="form-group w-50">
        <label for="codigoResponsavel">Escrevente responsável pela solicitação</label>
        <select formControlName="codigoResponsavel" class="form-select">
          <option value="null" disabled selected>Selecione</option>
          <option [value]="resp.codigo" *ngFor="let resp of responsible">{{resp.nome}}</option>
        </select>
      </div>
     </ng-container>

    <div>
      Insira apenas arquivos (JPG, JPEG, PNG, PDF ou Doc), com menos de 500Kb cada.

      <div class="d-table w-100 file-content">
        <div class="d-table-cell file-control w-100 mr-2">
          <i class="bi bi-cloud-arrow-down d-block xx"></i>
          <ng-container *ngIf="files && files.length == 0; else hasFilesTemplate">
            Clique ou arraste os arquivos aqui
          </ng-container>
          <ng-template #hasFilesTemplate>
            Você adicionou {{ files?.length }} {{ files?.length === 1 ? "arquivo" : "arquivos" }}
          </ng-template>
        </div>
        <input type="file" id="anexo" name="anexo" (change)="handleSelect($event)" class="form-control-file" multiple
          DraggableFile />
      </div>
      <div class="justify-content-center mt-20" *ngIf="filesShow">
        <div *ngFor="let file of filesShow; let i = index">
          <div class="d-flex justify-content-center">
            <p class="mr-2 ellipsis p-0">{{file.nome}}</p>
            <span class="cursor" (click)="deleteFiles(i)">
              <mat-icon class="mt-2">close</mat-icon>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="optInOption && optIn">
      <div class="form-check">
        <input class="form-check-input" name="compartilharInfo" type="checkbox" value=""
            [(ngModel)]="politicaUso" [checked]="politicaUso"  [ngModelOptions]="{standalone: true}"/>
        <label class="form-check-label" for="flexCheckDefault">
          {{optIn.descricao}}  <span><a [href]="optIn.politicasUso" target="_blank">Pólitica de uso</a></span> *
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="compartilharInfo" type="checkbox" value="" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="politicaPrivacidade" [checked]="politicaPrivacidade" />
        <label class="form-check-label" for="flexCheckDefault">
          {{optIn.descricao}}  <span><a target="_blank" [href]="optIn.politicasPrivacidade">Pólitica de privacidade</a></span> *
        </label>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button class="mt-4 btn btn-primary w-100" [disabled]="disabledButton == false" (click)="submit()">Enviar</button>
    </div>
  </form>
</div>
