.content{
    width: 100%;
    padding: 10px;
}

$file-control: #a0a0a0;
$height: 80px;

.file-content {
    position: relative;
    border: 1px dashed $file-control;
    height: 90px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    color: $file-control;
    cursor: pointer;

    .file-control {
        height: $height;
        vertical-align: middle;
        text-align: center;
    }

    .form-control-file {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        appearance: none;
        height: $height;
        width: 100%;
        text-indent: -999em;
        outline: none;
    }
}

::ng-deep .material-icons {
  font-size: 15px;
}

.xx{
  font-size: 30px;
}

.cursor{
  cursor: pointer;
}

.nav-bar-container {
  background-color: white;
  box-shadow: 0px 3px 6px #0000000f;
  height: 125px;
  justify-content: center;
}

.logo-tamanho {
  height: 105px;
}


@media (max-width: 700px) {
  .d-flex {
    flex-direction: column;
  }
  .justify-content-end{
    text-align: -webkit-right;
  }
}
