.messages {
  overflow-y: scroll;
  max-height: 400px;
    .sent-position {
        align-self: flex-end;
        text-align: -webkit-right;
        .id {
            font-size: 10px;
            color: grey;
            margin: 0 0 2px 0;
            text-align: right;
        }
        .message {
            max-width: 250px;
            width: fit-content;
            display: flex;
            flex-direction: column;
            margin: 1px 1px 20px 1px;
            background: #4445e7;
            border-radius: 5px;
            color: white;
            .fs-13 {
                margin: 8px 40px -6px 40px;
                word-wrap: break-word;
                white-space: pre-wrap;
            }
            .message-time {
                font-size: 10px;
                position: relative;
                top: 15px;
                color: gray;
                text-align: right;
            }
        }
    }
    .received-position {
        align-self: flex-start;
        text-align: -webkit-left;
        .id {
            font-size: 10px;
            color: grey;
            margin: 0 0 2px 0;
            text-align: left;
        }
        .message {
            max-width: 250px;
            width: fit-content;
            display: flex;
            flex-direction: column;
            margin: 1px 1px 20px 1px;
            background: #808080;
            border-radius: 5px;
            color: white;
            .fs-13 {
                margin: 8px 40px -6px 40px;
                word-wrap: break-word;
                white-space: pre-wrap;
            }
            .message-time {
                font-size: 10px;
                position: relative;
                top: 15px;
                color: gray;
                text-align: left;
            }
        }
    }
    .paper-clip {
        left: 80%;
        cursor: pointer;
        position: relative;
        top: -50px;
    }
}

.hiddenFileInput>input {
    opacity: 0;
    width: 30px;
    position: absolute;
    cursor: pointer;
}

.file {
    width: 6%;
    left: -94%;
    cursor: pointer;
    position: relative;
    top: 56px;
}

.hiddenFileInput {
    cursor: pointer;
    overflow: hidden;
}

.textarea {
    display: flex;
    align-items: center;
    float: left;
    position: relative;
    img {
        margin-left: 10px;
        color: white;
        cursor: pointer;
    }
}

.font-size-chat {
    font-size: 10px;
}

.fa-2x {
    font-size: 2em;
}

.send {
  top: 24px;
  right: 36px;
  position: relative;
}

.text-area-width {
    width: 115% !important;
}

.btn-send{
  border: none;
}

cursor {
    cursor: pointer;
}

.t {
    max-width: 307px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 13px;
}

.mt-3 {
    max-width: 307px;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 15px !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
    cursor: pointer;
}

hr {
    width: 100%;
    opacity: 0.3;
}

.accordion-button:not(.collapsed) {
    color: white;
    background: white;
}
