<div class="messages" id="collapseChatUp">
    <div *ngFor="let message of chat; let i = index" class="message"
      [ngClass]="{'sent-position': message.msgSolicitante, 'received-position': !message.msgSolicitante}">
      <p *ngIf="message.mensagem !='' " class="m-0 font-size-chat">{{message.remetente}}</p>
      <div class="message cursor" (click)="download(message.linkArquivo)" *ngIf="message.linkArquivo">
        <p class="c-pointer fs-13 f-flex-f-direction-column align-items-center">
          <i class="bi bi-cloud-download fa-2x"></i>
          <span>Arquivo enviado</span>
        </p>
        <div class="message-time">{{message.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss '}}</div>
      </div>
      <div *ngIf="message.mensagem" class="message">
        <div class="fs-13" [innerHTML]="message.mensagem"></div>
        <div class="message-time">{{message.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss '}}</div>
      </div>
    </div>
  </div>
    <hr>
    <form [formGroup]="form" class="form-group flex column w-100">
      <div *ngFor="let f of filesShow; let i = index" class="d-flex">
        <p class="t">{{f.nome}}</p> <span (click)="removeSelectedIndex(i)" class="ml-1 cursor">X</span>
      </div>
      <div class="d-flex text-area-width">
        <textarea class="form-control" formControlName="mensagem" placeholder="Digite uma mensagem"
          id="exampleFormControlTextarea1" rows="3"></textarea>
          <button type="submit" class=" btn btn-send send cursor" [disabled]="this.form.value.mensagem?.length == 0 && this.form.value.arquivo?.length == 0" (click)="sendMessage()" >
            <img src="../../../assets/icons/902731501556277131.svg" alt="">
         </button>

        <div class="file">
          <div class="hiddenFileInput">
            <input type="file" multiple (change)="handleSelect($event)">
            <span>
              <u class="c-pointer"><img src="../../../assets/icons/paperclip.svg" alt=""></u>
            </span>
          </div>
        </div>
      </div>
    </form>
