<h4 class="fw-bold mt-4">Documentos</h4>
<ng-container *ngIf="showContainer == false; else notTable">
  <div *ngFor="let doc of arquivos; let i = index">
    <div>
      <div class="card row w-100 shadow-box-custom p-4 mb-3 card-concerneds ml-3">
        <div class="pb-2 d-flex justify-content-end align-items-center">
          <div *ngIf="doc.aprovado == null" class="mr-10">
            <a class="btn-link btn-sm" (click)="docValidation(doc,true)">Aprovar</a>
          </div>

          <div *ngIf="doc.aprovado ==null">
            <a class="btn-link btn-sm" (click)="docValidation(doc, false) ">Reprovar</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <th class="w-13">Data de criação</th>
            <th class="w-13">Assunto</th>
            <th class="w-10">Status</th>
            <th class="w-10 center ">Documentos</th>
            <th>Mensagem</th>
            <tr>
              <td>{{doc.dataCriacao | date: 'dd/MM/yyyy '}}</td>
              <td>{{doc.descricaoTipoAssuntoOutros != "" ? doc.descricaoTipoAssuntoOutros :
                getAssunto(doc.tipoAssunto)}}</td>
              <td>{{getStatus(doc.aprovado)}}</td>
              <td class="center" (click)="download(doc)">
                <i tooltipClass="tooltip-primary " ngbTooltip="Baixar todos os arquivos"
                  class="bi bi-download xx   "></i>Download
              </td>
              <td [innerHTML]="doc.descricao" class="work-break">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notTable>
  <div *ngFor="let doc of arquivos; let i = index">
    <div>
      <div class="card row w-100 shadow-box-custom p-4 mb-3 card-concerneds ml-3">
        <div class="pb-2 d-flex justify-content-between align-items-center">
          <div *ngIf="doc.aprovado == null" class="mr-10">
            <a class="btn-link btn-sm " (click)="docValidation(doc, false) ">Reprovar</a>
          </div>

          <div *ngIf="doc.aprovado == null">
            <a class="btn-link btn-sm c-pointer " (click)="docValidation(doc,true)">Aprovar</a>

          </div>
        </div>
        <div class="info">
          <p class="mb-0"> <strong>Data de criação:</strong></p>
          <p>{{doc.dataCriacao | date: 'dd/MM/yyyy '}}</p>
          <p class="mb-0"> <strong>Assunto:</strong>
          </p>
          <p>{{doc.descricaoTipoAssuntoOutros != "" ? doc.descricaoTipoAssuntoOutros : getAssunto(doc.tipoAssunto)}}</p>
          <p class="mb-0"> <strong>Status:</strong>
          </p>
          <p >{{getStatus(doc.aprovado)}}</p>
          <p class="mb-0"><strong (click)="download(doc)">Documentos enviados:</strong>

          </p>
          <p> <i tooltipClass="tooltip-primary" ngbTooltip="Baixar todos os arquivos" class="bi bi-download xx"></i></p>
          <p class="mb-0"> <strong>Mensagem: </strong>
          </p>
          <p><span class="work-break" [innerHTML]="doc.descricao"></span></p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
