th {
    font-weight: 300;
    font-weight: bold;
}

a {
    cursor: pointer;
}

.card-concerneds {
    background-color: #fafafe;
}

.ml-3 {
    margin-left: 0px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.work-break {
    word-break: break-word;
    white-space: normal;
}

.cursor {
    cursor: pointer;
}

.w-13 {
    width: 13% !important;
}

.w-10 {
    width: 10% !important;
}

.xx {
    font-size: 20px;
    cursor: pointer;
}

.mr-30 {
    margin-left: -30px !important;
}

.center {
    text-align: center;
    vertical-align: middle;
}

table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none
}

strong {
    padding-right: 5px;
}