<i>Cláusulas especiais</i>

<div *ngFor="let clausula of clausulas let i = index" class="mt-20">
    <section class="example-section">
        <mat-checkbox (change)="checkClausula($event, clausula)" class="example-margin">{{i+1}} - {{clausula.descricao}}
        </mat-checkbox>
    </section>
</div>
