<div class="content">
    <h1 class="title-section">
        CONFIRMA INFORMAÇÕES PREENCHIDAS?
    </h1>

    <div class="action">
        <button mat-raised-button color="primary" class="btn" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="infoService.clicked" class="btn"
            (click)="submit()">Confirmar</button>
    </div>
</div>