<div class="d-table w-100 file-content">
  <div class="d-table-cell file-control w-100 mr-2">
    <i class="bi bi-cloud-arrow-down d-block xx"></i>
      <ng-container *ngIf="!arquivo; else hasFilesTemplate">
          Clique ou arraste os arquivos aqui
      </ng-container>
      <ng-template #hasFilesTemplate>
        Você adicionou {{files.length}} {{files.length == 1 ? 'arquivo': 'arquivos'}}
          <br>
      </ng-template>
  </div>
  <input type="file" id="anexo" name="anexo" (change)="handleSelect($event)" class="form-control-file" multiple
      DraggableFile />

</div>
<div class="justify-content-center mt-20" *ngIf="files">
  <div *ngFor="let file of files; let i = index">
    <div class="d-flex justify-content-center">
      <p class="mr-2 ellipsis p-0">{{file.nome}}</p>
      <span class="cursor">
        <span (click)="deleteFile(i)">X</span>
      </span>
    </div>
  </div>
</div>
