<div class="container text-left" *ngIf="asset">
    <div class="row">
        <div class="form-group col-4">
            <label for="tipoImovel">Tipo do imóvel</label>
            <select [(ngModel)]="asset.tipoImovel" name="tipoImovel" required #tipoImovel="ngModel"
                class="form-control">
                <option value="PESSOA-FISICA">Física</option>
                <option value="PESSOA-JURIDICA">Jurídica</option>
            </select>
        </div>
        <div class="form-group col-4">
            <label for="codigo">Tipo do bem</label>
            <select [(ngModel)]="asset.codigo" name="codigo" required #codigo="ngModel"
                class="form-control">
                <option value="PESSOA-FISICA">Física</option>
                <option value="PESSOA-JURIDICA">Jurídica</option>
            </select>
        </div>
        <div class="form-group col-4">
            <label for="telefone">Valor</label>
            <input required type="valor" class="form-control" name="valor" [(ngModel)]="asset.valor" #telefone="ngModel"
                aria-describedby="emailHelp" placeholder="Digite seu e-mail">
        </div>
    </div>

</div>