<div class="content">
  <mat-card class="example-card">
      <mat-card-content>
          <div class="address">
              <mat-icon>done</mat-icon>
              <h1>Mensagem  enviada com sucesso!</h1>
          </div>
      </mat-card-content>
  </mat-card>
</div>
