/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./variables.scss";
@import '~bs-stepper/dist/css/bs-stepper.min.css';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: #FAFCFF; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    font-family: "Montserrat", sans-serif;
}


/* ::-webkit-scrollbar {
  width: 0 !important;
  background: transparent !important;
} */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(177, 175, 175);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 129, 129);
}

/* Display, align and margins */
.c-pointer, .c-p {
    cursor: pointer !important;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start !important;
}
.align-right {
    align-items: flex-end !important;
}
.d-flex {
    display: flex !important;
}
.d-flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-flex-f-direction-column {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-left {
    justify-content: left;
}
.justify-right {
    justify-content: flex-end;
}

.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-20 {
    margin-top: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-13 {
    margin-left: 13px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-40 {
    margin-top: 40px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mg-1e {
    margin-bottom: 1rem !important;
}

.fs-13 {
    font-size: 13px;
}

.align-items-center {
    align-items: center;
}

hr {
    width: 98%;
    opacity: 0.3;
}
.submit-session {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.mr {
    margin-right: 5px;
}
.ml {
    margin-left: 5px;
}
.m-1 {
    margin: 5px !important;
}

/* Display, align and margins */

/* cards */

.cards {
    box-shadow: 1px 2px 6px -1px #673ab6 !important;
}
/* cards */

/* Titles and subtitles */
.title_h1 {
    font-weight: 500;
    font-size: 20px !important;
}
.title_h1-card,
.title_h3 {
    font-weight: 300;
    font-size: 17px !important;
}

/* Titles and subtitles */

.w-100 {
    width: 100%;
    max-width: 100%;
}

.w-17 {
    width: 17px !important;
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.mt--8 {
    margin-top: -8px;
}
.mt--14 {
    margin-top: -14px;
}
.color-red {
    color: red;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .w100 {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.invalid-form-field {
    border: 2px solid rgba(255, 0, 0, 0.534);
}
.shadow-box-custom {
    box-shadow: 0px 4px 13px -9px grey;
}

.background-white {
    background-color: transparent;
    opacity: 1;
}

.custom-height{
    margin: auto 0 auto 65% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-80 {
  width: 80% !important;
}

.w-60 {
  width: 60% !important;
}

.w-55 {
  width: 55% !important;
}

.ml-80{
  margin-left: 80px !important;
}

.mb-20{
  margin-bottom: 20px !important;
}

