$headerBase: #3c3c3c;
$buttonNotification: #505050;

$nav-height: 60px;
$menu-active: #3232ce;
$menu-width: 80px;
$menu-border: rgba(0, 0, 0, 0.125);
$card-color: #fbfbfb;

$primary: #4445e7;
$gray-400: #ced4da;
