@import '../../variables.scss';
.menu {
  width: 300px;
  height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;;
  box-shadow: 0px 3px 24px #0000002E;

  .logo{
    height: 100px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
  }

  .options{
    margin-left: 20px;
  }

 /*  .menu-item {
    background-color: #FFFFFF 0% 0% no-repeat padding-bo;
 
    border-radius: 0 0 8px 8px;
    z-index: 2px;
    position: relative;
  }
  .container-faq {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 0;

    p {
      color: #3a43a4;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .money-menu-container {
    display: flex;
    padding: 30px 20px 20px;

    img {
      padding: 0 7px 0px 0px;
    }

    p {
      padding: 0 15px;
      margin: 0;
      
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 500;
    }
  }
  .money-menu {
    background: #9ea3cd;
    border-radius: 0 0 8px 9px;
    margin-top: -20px;
    z-index: -99px;
  }

  .menu-item-container {
    display: flex;
    align-items: center;

    .active {
      background: linear-gradient(
        30deg,
        #ebff00 -44.95%,
        #b0104a -132.95%,
        #2d0b6c 100%,
        #132098 100%
      );
    }

    .menu-item-photo {
      padding: 0 12px 0 20px;

      border-radius: 0 13px 13px 0;
      height: 36px;
      align-items: center;
      display: flex;

      img {
        width: 20px;
        height: 20px;
      }
    }

    p {
      padding: 0 15px;
      margin: 0;
      font-size: 20px;
      font-weight: 500;
    }
  } */
}

.bi{
  color: $primary;
}