<div class="modal-header">
    <h4 class="modal-title">Resolver pendência</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card d-flex justify-content-center" style="height: 50px;">
        A mensagem para o cartório é obrigatória para resolver a pendência.
    </div>
    <div class="form-group">
        <label for="message">
            <p class="fw-bold mt-4 mb-0">
                Envie uma mensagem para o cartório
            </p>
        </label>
        <textarea [(ngModel)]="mensagem" class="form-control" placeholder="Digite aqui sua mensagem" id="message"
            rows="5"></textarea>
    </div>
    <p class="fw-bold mt-4 mb-0">
        Precisa enviar um arquivo?
    </p>
    <app-documentos (documents)="setDocument($event)"></app-documentos>
</div>
<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-primary" (click)="activeModal.close()">Fechar</button>
    <button [disabled]="this.mensagem.length == 0 && this.arquivo?.length == 0"  type="button" class="btn btn-primary" (click)="sendPendingMessage()">Resolver</button>
</div>
